[2021-07-26 11:51] mmiron-HC opened #1 "The logo does not have a proper alternative text"
User Agent: Chrome
Language: Both

**Steps to reproduce:**
from the inspect code - review code behind the image - `<img src="https://articulateusercontent.com/rise/courses/L6Ar3zzW35c_qd5h0eTKMRDl36AC-vvs/NChzF3qfEnM_JWqc.jpg" width="75" height="75" alt="Logo">`
<img src="https://articulateusercontent.com/rise/courses/L6Ar3zzW35c_qd5h0eTKMRDl36AC-vvs/NChzF3qfEnM_JWqc.jpg" width="75" height="75" al

[2021-07-26 12:10] #1 closed

[2021-07-26 12:14] mmiron-HC opened #2 "All: Skip links/Bypass blocks are hidden"
URL: https://hcdev.openplus.ca/en
User Agent: Chrome, Firefox
languages: both

**Issue description:**
All skip/bypass links are there but are all hidden. When the keyboard user is tabbign through the page, they are lost as they don't know where the focus is.

Steps to reproduce: Source code, keyboard tabbing

**Expected results**
All links should be visible to the user. These skip/bypass links are

[2021-07-26 12:17] mmiron-HC opened #3 "Home: Page does not have a heading level 1"
**URL**: https://hcdev.openplus.ca/en
**User Agent:** Chrome/Firefox
**Language**: both

**Issue Description**
The page does not have heading `<h1>.` Headings should be in hierarchical order. H1->H2-H3 etc.

**Steps to reproduce:** Visual, source code

**Expected results:** All pages should have H1 and this page seems like "Recalls and safety alerts" is the name of the application so that is not H

[2021-07-26 12:27] mmiron-HC opened #4 "Home: Links do not have sufficient contrast /missing underline"
**URL**: https://hcdev.openplus.ca/en
**User Agent**: Chrome/Firefox
**Language**: both

**Issue Description:**  Links in the main content of the page are almost black and don't have enough ratio with surrounding text. Some of the links do have underline but no visual colour for links. Some links are missing underline as well. There is also no change with mouse hovering.

Please see screenshot of

[2021-07-26 12:31] mmiron-HC opened #5 "Top Menu doesn't have sufficient contrast on Focus or Hover states"
**URL**: https://hcdev.openplus.ca/en
**User Agent:** Chrome/Firefox
**Language**: both

**Issue Description:** The menu on top doesn't have enough contrast with focus or hover with it's adjacent colours. For example, when the user has focus on Home, the menu item next to it is People. The contrast between the two is 1.41:1. It should be minimum 3:1.
![image](https://user-images.githubusercontent.

[2021-07-26 12:34] mmiron-HC opened #6 "All: User Account name is highlighted even when unselected"
**URL**: https://hcdev.openplus.ca/en
**User Agent**: Chrome/Firefox
**Language**: both

**Issue Description:** In the menu on top, the user account name is highlighted even when user is on another page. This can confuse the user of where they are at in the menu.

**Steps to reproduce:**  Visual

**Expected result**: The correct location should be highlighted so the user knows where they are at.
!

[2021-07-26 12:46] mmiron-HC opened #7 "Home: Images must have an alternative text"
URL: https://hcdev.openplus.ca/en
User Agent: Chrome/Firefox
language: both

Issue description: The images for each link seem to have a meaning to the visual user that it's a recall/alert for a food, health etc type post. These seemed to be marked as decoration as screen reader is not announcing them.
![image](https://user-images.githubusercontent.com/65728700/126989784-7fedda56-53aa-491b-a712-da1

[2021-07-26 12:49] mmiron-HC opened #8 "Home: Image links do not have sufficient contrast"
**URL**: https://hcdev.openplus.ca/en
**User Agent:** Chrome/Firefox
**Language**: both
**Issue description**: The images for each link don't have enough contrast with the background and are difficult to see for some users. The contrast should be increased.
**Steps to reproduce**: Visual
![image](https://user-images.githubusercontent.com/65728700/126991258-ed2aaecb-99e0-4123-ae4c-721216abfaf8.png)

[2021-07-26 12:52] mmiron-HC opened #9 "Web page fails HTML5 markup validation"
**URL**: https://hcdev.openplus.ca/en
**User Agent** Chrome/FF
**language**: both

**Issue Description**: Web page fails HTML5 markup validation. Generated HTML source is used to validate the markup using W3C Validator (https://validator.w3.org/).

**Steps to reproduce:**
1. In Chrome or Firefox, press F12 key to open the Web Developer Tools.
2. In the code, right click on <html> element and selec

[2021-07-26 12:55] mmiron-HC opened #10 "All: Breadcrumb item - focus is not visible enough"
**URL:** https://hcdev.openplus.ca/en
**User Agent**: Chrome/Firefox
**Language**: both

Issue Description: The focus is not visible enough for the breadcrumb items. The focus seems to be on the sides only and top/bottom are missing.

Please see screenshot of what the focus looks like in Chrome and Firefox.
![image](https://user-images.githubusercontent.com/65728700/126992061-9b598cd5-5cae-4833-b1

[2021-07-26 12:58] mmiron-HC opened #11 "Home: Contrast ratio fails on the focus for the Find button"
URL: https://hcdev.openplus.ca/en
User agent: Firefox
Language: both

**Issue description** The contrast between the focus and the adjacent colours is not enough for the Find button in Firefox.  The focus contrast with the outer blue is 1.16:1.
![image](https://user-images.githubusercontent.com/65728700/126992451-76bb8bc7-72c1-42a8-92d8-11de8e6ce0e0.png)

**steps to reproduce:** Tabbing with Keybo

[2021-07-26 13:00] mmiron-HC opened #12 "Dashboard page doesn't have a heading level 1"
URL: https://hcdev.openplus.ca/en/user/197
**User Agent:** Chrome/FF
Language: both

**Issue description:** The page does not have heading <h1> . Headings should be in hierarchical order.
**Steps to reproduce**: source code
**Expected result:** All pages should have H1 and this page seems like "Recalls and safety alerts" is the name of the application and each page should have an H1 in the main co

[2021-07-26 13:04] mmiron-HC opened #13 "Dashboard/Edit Profile page title does not provide the purpose of the page"
**URL**: dashboard: https://hcdev.openplus.ca/en/user/197
edit profile: https://hcdev.openplus.ca/en/user/197/edit
**User agent**: chrome/FF
**Language**: both

**Issue Description:** Page title doesn't describe to the user the purpose/content of the page. Username is not a proper page title for a page.
**Steps to reproduce:** visual, source code
**Expected results:** All pages should have a page

[2021-07-26 13:08] mmiron-HC opened #14 "Dashboard: Labels cannot be programmatically associated to multiple input fields."
**URL**: https://hcdev.openplus.ca/en/user/197
**User agent**: Chrome/Firefox
**Language**: both

**Issue Description**: Some form fields have multiple form labels. For example, Title field is 4 times on the page and all labels are Title and the input fields have id as "edit-title".

**Steps to reproduce**: WAVE toolbar, source code

**Expected results**:
Some form controls have more than one labe

[2021-07-26 13:11] mmiron-HC opened #15 "TEST using template"
URL: can modify..
User Agent:
Language:

Issue Description:
Steps to reproduce:
Expected results:

[2021-07-26 19:13] qanitah opened #16 "Meaning of asterisk is not explained at the beginning of the form - All form pages with asterisks"
**URL**: All - eg. https://hcdev.openplus.ca/en/
**User Agent**: Firefox, Edge
**Language**: Both

**Issue Description**: The required status of the form fields are indicated using an asterisk in field label. However, the meaning of the asterisk is not defined at the start of the form.

**Expected results**: The meaning of the asterisk should be defined at the start of the form.

Please follow WET

[2021-07-26 19:40] qanitah opened #17 "Contrast fails for Vertical/Horizontal orientation switch arrow"
URL: All - eg. https://hcdev.openplus.ca/en/ & https://hcdev.openplus.ca/en/alert-recall/test-craig
User Agent: Chrome (as it's not available in Firefox and Edge)
Language: Both

Issue Description: The colour contrast for arrow for switching between vertical and horizontal orientation fails. Currently its 1.7:1.

Steps to reproduce: View the page in Chrome.

Expected results: The minimum contrast

[2021-07-28 18:23] qanitah commented on #9
Other pages fail validation as well. For example, Home, Edit profile, etc. Please review all and all errors should be addressed.

[2021-07-28 20:15] qanitah opened #18 "Text does not reflow properly and there is 2 dimensional scroll"
URL: https://hcdev.openplus.ca/en/user/203
User agent: Firefox
Language: both

Issue Description:  Content should be presented without requiring scrolling in two dimensions. Firefox requires horizontal scroll (along with vertical). There is just one word that is cut on this page.

Steps to reproduce: Set the viewports size to 1024px by 768px
For Firefox - Open the page in Firefox; In Firefox, go t

[2021-07-29 15:17] qanitah opened #19 "Dashboard: Repetitive content on the page"
URL: https://hcdev.openplus.ca/en/user/203 (Dashboard)
User Agent: Chrome, Firefox
Language: English

Issue Description: The section "Alerts and recalls in progress" seems to be repeated on the page. Its on top and then towards at the end as well. Both of these seem to have the same functionality with sorting/searching. Once there is a lot more information on the page, it can confuse the user. Thi

[2021-07-29 15:32] qanitah opened #20 "Dashboard: Empty header cells <th>"
URL: https://hcdev.openplus.ca/en/user/203 (Dashboard)
User Agent: Chrome, Firefox
Language: English

Issue Description: There are tables with empty header cells. The table under Alerts and recalls in progress has empty header cells first and last columns. th should not be empty.

Steps to reproduce: View source code

Expected results: Header cells shouldn't be empty and if these cannot have any c

[2021-07-30 15:44] hydegeoff opened #21 "Login - Broken Aria causes screen reader not to announce tooltip"
RSAMS Bugs
URL: https://hcdev.openplus.ca/en/user/login
User Agent:  Chrome (Version 92.0.4515.107 (Official Build) (64-bit)); Firefox (90.0.2 (64-bit));
Screen reader tested: NVDA (Ver. 20.0.4) Jaws (Ver. 2020.2008.24 ILM
Language: EN and FR

Issue Description:   When using the keyboard, tooltip information is not being announce by the screen reader.  However, it is announced when using the mouse

[2021-07-30 19:13] hydegeoff opened #22 "Login page – Missing date modified and change button position"
Problem:
1.	The button is touching footer background.  TBS guidelines does not specifically mention this as being a problem, but it does not have any items touching top part of the footer’s background image.  See screenshot.
2.	There is no version number or data modified on the login page.  It is classified as a transaction page under TBS guidelines:  Go here for more information: https://design.c

[2021-07-30 19:46] hydegeoff opened #23 "Login page – Missing Footer links when reflowed to phone size screen"
Problem:
If viewing the page on mobile phone device or shrinking the browser window to its smallest width the nine links and picture of the Parliament Building in the background is missing.

Expected Result:
Add 9 links and background image to the small size version of the footer as shown the TBS Guidelines: https://design.canada.ca/common-design-patterns/site-footer.html

URL: https://hcdev.openp

[2021-07-31 01:36] hydegeoff opened #24 "Header – Language toggle appears incorrectly on a small screen"
![Login-Samsung S10-language toggle appear incorrectly](https://user-images.githubusercontent.com/88147013/127724321-b05653bf-df74-4fa7-b00e-198b8adb5e69.jpg)
**Problem:**
The header template should display the language toggle as EN/FR when viewed on small screen or window.  It should not be on its own line.

**Steps to reproduce:**
1.	In Chrome / laptop, Enter login info (hcdev/hc) into pop-up sc

[2021-07-31 02:13] hydegeoff opened #25 "Login page-Login tab requires too many swipes with TalkBack"
**Problem:**
When using TalkBack on the login screen, it requires too many swipes when navigating the tabs as described below:
Note: Place the cursor on the H1 Log in title and then start swiping: (the number represents the number of swipes)
1.	Primary tabs
2.	Login Active tab link
3.	Login
4.	Active Tab
5.	Reset Password
6.	Username

**Expected Result:**
There are too many swipes require to navig

[2021-07-31 02:24] hydegeoff commented on #25
Note I have verified that this works properly in the following WET example when using my phone, Chrome, and Talkback.
https://wet-boew.github.io/v4.0-ci/demos/tabs/tabs-en.html

[2021-08-03 13:52] joel-osc commented on #19
Fixed.

[2021-08-03 13:52] joel-osc commented on #12
Fixed.

[2021-08-03 13:59] mmiron-HC commented on #12
@joel-osc  please don't close the issues. We need to retest these and we will close them. just reassign it to the person who raised the ticket.

[2021-08-03 14:04] mmiron-HC commented on #19
@joel-osc  Please don't close the issues, just reassign to the tester. and put a note in the comments.

[2021-08-03 15:17] mmiron-HC opened #26 "Login page fails HTML Validation"
URL: https://hcdev.openplus.ca/en/user/login
User Agent: Firefox
Language: English

**Issue Description:** Page fails HTML validation.
**Steps to reproduce:**
1. Generate source code
2. Copy code
3. in a 2nd tab, open [W3C HTML Validator - Validate by Direct input tab](https://validator.w3.org/#validate_by_input)
4. paste code in text area and click "Check"
list of errors will be displayed.
![imag

[2021-08-03 17:58] mmiron-HC commented on #16
This affects the Login and Reset password pages as well.

[2021-08-03 20:27] mmiron-HC opened #27 "Tooltips must be dismissable, hoverable and available to mouse users as well"
URL: https://hcdev.openplus.ca/en/user/login
User Agent: Chrome
Language: both

**Issue Description:** Tooltips must be dismissable, hoverable and available to mouse users as well
**Issue 1:** There is no mechanism provided to dismiss the tooltip
1. Using mouse hover over the Username field. Tooltip appears
2. Using keyboard press "escape"
3. Tooltip remains displayed.
**Expected result Issue 1:**

[2021-08-03 20:59] mmiron-HC opened #28 "Login/Reset Password - error messages not following WET"
URL: https://hcdev.openplus.ca/en/user/login
User Agent: chrome, Firefox
Language: Both

**Issue Description:**

**Steps to reproduce:**
scenario 1:
Click on "Login" button without completing any information.
generic inline error is displayed for only the username field.

scenario 2:
incorrect username/password combination
click on "Login" button
non-descript error displayed above, Error message a

[2021-08-03 21:21] mmiron-HC opened #29 "Login - Link text should be consistent with location user is being taken"
URL: https://hcdev.openplus.ca/en/user
User Agent: Chrome/NVDA
Language: English/French

Issue Description: the link "forgot your password" should be modified to reflect the name of the page where they are being navigated to "Reset your password"

Steps to reproduce:
Enter invalid credentials and trigger "Login"
Error appears below the input field with a "Forgot your password" link. The link navig

[2021-08-04 13:59] qanitah commented on #23
This is also for iPhone 12 for all pages (Home, Dashboard, Edit Profile etc).
Safari with iOS 14.7.1

![image](https://user-images.githubusercontent.com/14280062/128193663-9bb5c483-56c3-4860-8035-88ef2d50ade8.png)

[2021-08-04 14:29] qanitah opened #30 "Dashboard: Hidden content/instructions for visual users"
URL: https://hcdev.openplus.ca/en/user/203 (Dashboard)
User Agent: Chrome, Firefox, iPhone 12 (iOS 14.7.1)
Language: English

Issue Description: There is hidden content which is important for all users. For example, the instruction to the user that once they submit, the information will appear below. These are only available to screen reader users (Web and mobile). Mobile screens are quite small a

[2021-08-04 15:10] qanitah opened #31 "Dashboard: Focus visible not at correct location (mobile)"
URL: https://hcdev.openplus.ca/en/user/203 (Dashboard)
User Agent: iPhone 12 (iOS 14.7.1)
Language: English

Issue Description: Focus on iOS doesn't seem to be at the right location for hidden content and goes up and down a little bit. This is  very confusing as there is a lot of hidden content on top of the pages that receives focus and the focus box appears at random areas on the screen.

Steps

[2021-08-04 16:18] qanitah opened #32 "All pages: Instruction for expand/collapse sub-menu is not clear"
URL: https://hcdev.openplus.ca/en/user/
User Agent: Chrome with NVDA
Language: English/French

Issue Description: The instruction to open/close the sub-menu tray is not clear to the user. It reads " toggle button not pressed My account". It has the same state "not pressed" when it's selected or not. Also, when the user selects it, it announces "tray closed" or "tray opened". This is not enough ins

[2021-08-04 17:33] mmiron-HC opened #33 "Login and Reset your password have non-descript heading hidden from visual users"
URL: https://hcdev.openplus.ca/en/user/password and Login page
User Agent: Chrome
Language: both

**Issue Description**: "Primary Tabs" Heading level 2 is being announced to screen reader users. This text is visually hidden from users and the text conveys nothing to users.

**Steps to reproduce**:
Run WAVE and turn off styles.
Heading 2 = Primary Tabs is displayed.
View code -> heading is visually

[2021-08-04 18:05] qanitah opened #34 "All pages: Sub-menu navigation overlaps content on smaller screens"
URL: https://hcdev.openplus.ca/en/user/
User Agent: iPhone 12 (iOS 14.7.1)
Language: English/French

Issue Description: The sub-menu navigation stays open unless the user clicks/taps on the My account button. This instruction is not clear to the user and it's not intuitive. On mobile, user can close usually when the user taps on empty space when something like that is open. But it's not the case f

[2021-08-04 19:52] qanitah opened #35 "Dashboard: Error messages disappear and don't follow WET format"
URL: https://hcdev.openplus.ca/en/user/203 (Dashboard)
User Agent: Chrome, Firefox
Language: English/French

Issue Description: There are a couple of issues with errors for the required fields:

1. Error message for "Alert type" and for "Recall type" do not display properly and hover below the drop down for about 4 seconds and disappear. The error message should be between the label and the input

[2021-08-04 20:35] qanitah opened #36 "Dashboard: Focus does not go to the correct location after clicking Submit and Apply"
URL: https://hcdev.openplus.ca/en/user/203 (Dashboard)
User Agent: User Agent: Chrome, Firefox,
Language: English/French

Issue Description: When a user creates a new recall/alert and clicks on Submit, the focus goes to top of the page. After this, they have to look/scroll for where the new recall/alert is that was just created.
Also, when the user selects Apply with keyboard by hitting enter, the

[2021-08-05 12:39] mmiron-HC opened #37 "Login: inline error not announced on iOS safari browser"
URL: https://hcdev.openplus.ca/en/user/login
User Agent: Safari iOS / VoiceOver
Language: English

Issue Description: inline error not being announced by screen reader
Steps to reproduce:
in safari tab, open link
turn Voice over on.
from the login page, leaving both fields blank, navigate to the Submit button
Activate the Submit button.
Error is displayed "fill out this field" but it not announced

[2021-08-05 13:31] mmiron-HC opened #38 "Login: page crashes in Android when Talkback is on after error is triggered"
URL: https://hcdev.openplus.ca/en/user/login
User Agent: Android OnePlus 9/Talkback
Language: English

Issue Description: Chrome crashes after error is triggered on Android with Talkback on.
Steps to reproduce:
with talkback on, navigate to the Submit button leaving the form blank.
activate the submit button
Error is announced to user and focus is on the Username input field. Autocomplete menu ope

[2021-08-05 19:23] qanitah opened #39 "Edit profile: Tooltips not available to all users and not dismissible/hoverable"
URL: https://hcdev.openplus.ca/en/user/203/edit
User Agent: Chrome, Firefox
Language: both

Issue Description: Tooltips must be dismissible, hoverable and available to all users (keyboard, mouse, screen reader). Similar to issue #27, there are a few issues with this. There are several tooltips on this page.

Issue 1: There is no mechanism provided to dismiss the tooltips. For example, using the mo

[2021-08-05 19:54] qanitah opened #40 "Edit profile: Some content not marked up as headings"
URL: https://hcdev.openplus.ca/en/user/203/edit
User Agent: Chrome, Firefox
Language: both

Issue: Page has an H1 on the page but no other headings. Some sections look like they have a headings but those are actually links to collapse the sections. This can confuse the user.

Expected result: Mark up the page using headings. Language settings and Locale settings can both be marked up as H2. If tho

[2021-08-05 20:00] mmiron-HC opened #41 "Login: English text on the French page"
URL: https://hcdev.openplus.ca/fr/user/login affects Reset password as well.
User Agent: Chrome
Language: French

Issue Description:
"About this site"
"Top of page" at the bottom is in English on the French page
"Symbol of the Government of Canada" alternative text is in English
"Government of Canada" logo at the top - alternative text is in English
![image](https://user-images.githubusercontent.c

[2021-08-05 20:40] qanitah opened #42 "Edit profile: Status message of saved changes not announced as soon as it appears and focus is not in correct order after save"
URL: https://hcdev.openplus.ca/en/user/203/edit
User Agent: Chrome, Firefox
Language: both

Issue: When the user makes changes on the page and hits enter at a field OR enters/clicks Save button, the status message is not read right away.

Situation 1: The page gets saved but the focus stays around where the user was and screen reader continues from there.
For example, if the user hits enter at Use

[2021-08-05 20:43] mmiron-HC opened #43 "Login/Reset page: Inline error in displayed in English on French page"
URL: https://hcdev.openplus.ca/fr/user/login
User Agent: Chrome
Language: French

Issue Description: Inline error message is in English on the French page.
Steps to reproduce:
From the French Login page (or Reset page) leave page blank and trigger the "Se Connecter" button
Inline error for "nom d'utilisateur" appears but is in English.

![image](https://user-images.githubusercontent.com/65728700/1

[2021-08-05 20:51] mmiron-HC opened #44 "login/Reset input fields fail do not have sufficient contrast with background"
URL: login/reset password page
User Agent: Chrome
Language: both

Issue Description: login/Reset input fields fail do not have sufficient contrast with background
Steps to reproduce:
From the CSS for the input, the colour for the border is # CCCCCC and take the background colour #FFFFFF
put these in the [Colour contrast analyzer](https://webaim.org/resources/contrastchecker/) and determine the con

[2021-08-06 14:38] mmiron-HC commented on #44
removing as this is similar to WET.

[2021-08-06 14:38] #44 closed, assigned to joel-osc, CraigClark

[2021-08-06 16:04] qanitah opened #45 "Edit profile: Inconsistent error messages (styling); messages disappear after a few seconds"
URL: https://hcdev.openplus.ca/en/user/203/edit
User Agent: Chrome, Firefox
Language: both

Issue: As mentioned in issue #35, error messages are not following WET format. Along with with issue, there are different formats used and error messages are inconsistent. The only time the list of errors shows up on top is when the error is with Password field. All errors should be listed on top. The error

[2021-08-06 20:06] mmiron-HC opened #46 "login/Reset Password: Focus visible not at correct location (mobile)"
URL: https://hcdev.openplus.ca/fr/user/login / password reset
User Agent: Android One Plus 9 / Chrome
Language: EN

Issue Description: Focus on the mobile Chrome doesn't seem to be at the right location for the hidden content. This is confusing.

Steps to reproduce:
Turn TalkBack on Android. From URL, swipe left to left through the page or press and hold Login until focus is there, then swipe up a

[2021-08-09 14:08] qanitah opened #47 "Edit profile: "Cancel account" button next to Save button instead of "Cancel""
URL: https://hcdev.openplus.ca/en/user/203/edit
User Agent: Chrome, Firefox
Language: both

Issue Description: Cancel account button at the end of the form is right after Save button. Usually, Save and Cancel (form) are adjacent to each other. But Cancel account seems to be out of place. This is a big action and user can mistakenly click on it.

Expected results: Suggestion is to put Cancel accoun

[2021-08-09 15:53] qanitah opened #48 "Edit profile: Alert section fails non text contrast"
URL: https://hcdev.openplus.ca/en/user/203/edit
User Agent: Chrome, Firefox
Language: both

Issue Description: Alert section fails contrast for exclamation and close button as contrast is below 3:1 for non-text items.

1. Alert (exclamation) fails contrast. Without hover, contrast is 1.42:1 and with hover, contrast is 2.44:1.
2. Close button fails contrast. Without hover, contrast is 1.6:1 and wit

[2021-08-09 17:43] qanitah opened #49 "Search: Empty header cells <th>"
URL: https://hcdev.openplus.ca/en/user/203/search
User Agent: Chrome, Firefox
Language: Both

Issue Description: There are empty header cells in the table (last 3 columns).

Steps to reproduce: View source code

Expected results: Header cells shouldn't be empty and if these cells cannot have any content then they should be changed to td (from th)

![image](https://user-images.githubusercontent.com

[2021-08-09 18:21] qanitah opened #50 "Edit profile: English text on French pages"
URL: https://hcdev.openplus.ca/fr/user/203/edit Modifier el profil (Edit profile)
User Agent: Chrome, Firefox
Language: French

Issue Description:  Inline error message is in English on the French page. Same as in issue #43

Steps to reproduce: Leave one of the required fields empty and the error message appears.

Expected results: Error messages should be in French. Should follow WET error handli

[2021-08-09 18:25] qanitah commented on #41
This seems to be template issue as this text appears to be in English on all French pages.

[2021-08-09 18:50] qanitah opened #51 "Home/Search: English text on the French page"
URL: https://hcdev.openplus.ca/fr; https://hcdev.openplus.ca/fr/user/203/search
User Agent: Chrome, Firefox
Language: French

Issue Description: There is some English on the French page. Page title of Home is in English. The page listing at the bottom has English tooltip and the "Last" is in English. "First" is also in English.

Expected results: Text should be in French as these are French pages.

[2021-08-10 13:03] mmiron-HC commented on #23
Note that the footer appears when the orientation is landscape.
![image](https://user-images.githubusercontent.com/65728700/128871660-e44d2cc1-60d0-4a47-bee1-9ef4df195f39.png)

[2021-08-10 13:08] qanitah opened #52 "Edit profile: Alert section missing information"
URL: https://hcdev.openplus.ca/en/user/203/edit
User Agent: Chrome, Firefox
Language: both

Issue Description: Alert section text does not seem to be done correctly and has information missing from visual users. Also, the visual information is not correct. There are a few issues with it. Please see the list of issues and corresponding expected results below:

1. There is a hidden heading h2 "Error

[2021-08-10 14:41] qanitah opened #53 "Search: Select menus not associated correctly with the labels"
URL: https://hcdev.openplus.ca/en/user/203/search
User Agent: Chrome, Firefox
Language: Both

Issue Description: A couple of select menus (drop down menus) are not done correctly and there seems to be a missing label as there are 2 select menus in the code. The label belongs to the 2nd menu for both of the select menus. Issue is with Gagegory and Issue type fields. See screenshot.

Steps to reprod

[2021-08-10 15:55] qanitah opened #54 "Search: Incorrect tabbing order"
URL: https://hcdev.openplus.ca/en/user/203/search
User Agent: Chrome, Firefox
Language: Both

Issue Description: Tabbing order does not match visual order. The button Apply comes after the field Category visually but comes after Home requested with keyboard.
![issue54](https://user-images.githubusercontent.com/65728700/128895540-edcf2a7c-69c3-442c-ac5e-665b1ea52668.jpg)

Steps to reproduce: Keyboa

[2021-08-10 18:29] qanitah opened #55 "Dashboard: Links with same text"
URL: https://hcdev.openplus.ca/en/user/203 (Dashboard)
User Agent: Chrome, Firefox, iPhone 12 (iOS 14.7.1)
Language: English

Issue Description: When there are more than one bookmarks added to this page, all links have text "View". Someone using screen reader and just going by links on the page will not know where the links are going to as there isn't any other info.

Same also applies to other co

[2021-08-10 20:19] mmiron-HC commented on #22
Please apply across the application.

[2021-08-11 12:03] XiuJuanXia opened #56 "Recalls and Safety Alerts CMS Help Manual: Abbreviations and acronyms for RSA and CMS"
URL: https://hcdev.openplus.ca/en/documentation/recalls-and-safety-alerts-cms-help-manual
User Agent: Chrome
Language: English

Issue Description: In the page title "Recalls and Safety Alerts CMS Help Manual", it's combined full term and acronym. According to [Canada.ca Content Style Guide](https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-style-

[2021-08-11 12:19] XiuJuanXia opened #57 "Getting started: "Current Page" state is not identified for the Subway navigation when the focus is placed on the current page link"
URL: https://hcdev.openplus.ca/en/documentation/getting-started
User Agent: Chrome, JAWS
Language: English

Issue Description: For the subway navigation, the state "current page" is not identified when focus is placed on the current page link.  "Getting started" link is identified when the focus is placed on the first link. Screen reader users are not aware of that link is for the current page. Th

[2021-08-11 12:42] XiuJuanXia opened #58 "Getting started: Reset your password instructions are out of date"
URL: https://hcdev.openplus.ca/en/documentation/getting-started
User Agent: Chrome
Language: English

Issue Description: The instructions on how to reset your password is out of date. The text instruction is different than the image provided. The image provided is the most recent one. Go to [/user](https://hcdev.openplus.ca/en/user/login) send users to a "Log in" page. There is no "Request new pas

[2021-08-11 13:26] XiuJuanXia opened #59 "User roles: Italics are used"
URL: https://hcdev.openplus.ca/en/documentation/user-roles
User Agent: Chrome
Language: English

Issue Description: Text is italicized here and there. People with dyslexia or other reading disorders may find it difficult to read italicized text. In [Canada.ca content style guide](https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-style-guide.html#

[2021-08-11 15:54] mmiron-HC opened #60 "Footer: hidden headings/text do not match the Canada.ca template"
URL: throughout the app
User Agent: Chrome
Language: Both

**Issue Description:** Hidden headings are incorrect. they should match the Canada.ca template
improper headings,

**Steps to reproduce:**

- View page in chrome,
- Run WAVE and turn styles off
 ![image](https://user-images.githubusercontent.com/65728700/129060160-bfdad8d5-5e19-40df-8684-db23e3687083.png)
view footer

**Expected results:**

[2021-08-11 16:00] mmiron-HC opened #61 "Footer: English text on French pages"
URL: all footers
User Agent: Chrome
Language: French

**Issue Description:** English text on French page
Symbol of Government of Canada alternative text is in EN on the FR page.
Hidden Heading "About this site" (which is the wrong heading) is in EN on the French page
Top of the page text is in EN on the French page.

**Steps to reproduce:**
View page, turn off CSS (Styles - run WAVE, turn styles o

[2021-08-11 16:06] mmiron-HC opened #62 "Header: hidden Search label is incorrect"
URL: all pages
User Agent: Chrome
Language: En/Fr

**Issue Description:**
Hidden Search label is incorrect. does not match Canada.ca template

**Steps to reproduce:**
View page with styles turned off (Run WAVE and ensure styles are turned off)
view page headings compare to Canada.ca pages
![image](https://user-images.githubusercontent.com/65728700/129063994-694101a2-b0e9-4991-abc3-cff11821c52c.png

[2021-08-11 17:43] qanitah opened #63 "Build: Same page links to sections are not accessible with keyboard"
URL: https://hcdev.openplus.ca/en/node/1109/build#Section1 (click on Build for any Recall or Alert from Dashboard)
User Agent: Chrome, Firefox
Language: Both

Issue Description: User is not able to tab to the sections 1-6 on the right hand side of the page which are anchor links within the same page. Focus goes to Workflow link and then jumps to the footer of the page.

Steps to reproduce: Keyboar

[2021-08-11 17:48] XiuJuanXia opened #64 "Getting started: "Home" link at the bottom of page is not descriptive"
URL: https://hcdev.openplus.ca/en/documentation/getting-started
User Agent: Chrome
Language: Both

Issue Description: For each page of the "Help Manual", there is a "Home" link at the bottom of the page. The link text "Home" is not descriptive. The tooltip for the link is "Go to front page" for both English and French pages which needs to be more specific. English tooltip on the French page.
![ima

[2021-08-11 18:08] mmiron-HC opened #65 "Header: Hidden word Menu must be removed"
URL: all
User Agent: chrome
Language: fr/en

Issue Description: hidden word "Menu" must be removed it is remnants of the template and is not necessary.
Steps to reproduce:
view page with styles turned off (Run WAVE, styles = off)
Scroll to where the breadcrumbs appear.
![image](https://user-images.githubusercontent.com/65728700/129080764-5db0cff3-3dc6-4268-9243-8bd6ccc322cd.png)

Expected results:

[2021-08-11 18:28] mmiron-HC opened #66 "Template: Search button doesn't have proper text"
URL: Most
User Agent: Chrome/Firefox
Language: EN/FR

Issue Description: Search button from the template isn't done correctly.  When styles are turned off, the button has no label.
Steps to reproduce:
in Firefox, from the Web developer toolbar, turn disable all styles from the CSS tab.
navigate the page until you reach the search.
![image](https://user-images.githubusercontent.com/65728700/1290826

[2021-08-11 20:03] qanitah opened #67 "Build: English content on French page"
URL: https://hcdev.openplus.ca/fr/node/2525/build#Section1 (click on Build for any Recall or Alert from Dashboard)
User Agent: Chrome, Firefox
Language: French

Issue Description: The term Build is used in English and Générer is used in French. But for the h1, it's still Build. Tableau de bord also uses the term Générer. It's also incorrect for page title.

Steps to reproduce: Check h1 and page ti

[2021-08-11 20:18] qanitah opened #68 "Build: Image gets overlapped in mobile for portrait and landscape views"
URL: https://hcdev.openplus.ca/fr/node/2525/build#Section1 (click on Build for any Recall or Alert from Dashboard)
User Agent: Safari on iPhone 12
Language: French

Issue Description: The image for French gets overlapped by Modifier button in French pages in portrait and landscape views.

Steps to reproduce: View page on iPhone 12.

Expected results: Content should not overlap and should be visibl

[2021-08-12 10:53] mmiron-HC opened #69 "Links with tooltips provide no additional information"
URL: most pages
User Agent: chrome
Language: both

**Issue Description:**

- Links with tooltips ("title" attribute) do not provide additional information and  should be removed.
- Not all screen readers support the title attribute. However, those that do will read the link text and the title attribute one after the other making it redundant/confusing.
- These tooltips are also only available to m

[2021-08-12 11:03] mmiron-HC opened #70 "Title element should be more descriptive to avoid confusion"
URL: https://hcdev.openplus.ca/fr/documentation/onglet-rechercher
User Agent: Chrome
Language: both

Issue Description: <title> element for all pages should be similar to the h1 of the page. Screen reader users are read the page title to understand where they are and provide context.

Currently you have a Dashboard set to "username | RSAMS" which isn't very clear, Modify your profile is the same.

[2021-08-12 12:09] XiuJuanXia opened #71 "Help Manual - Dashboard: "language preferences" links to "Editing your profile" page"
URL: https://hcdev.openplus.ca/en/documentation/dashboard-all-roles
User Agent: Chrome
Language: Both

Issue Description: In the fourth bullet, "language preferences" links to "Editing your profile" page. Related information is not presented to users right away. Users will have to move down to view the related information. Same issue applies to the French page. Also the link on the French page dir

[2021-08-12 12:20] XiuJuanXia opened #72 "Editing your profile: Ordered list is coded as <p>"
URL: https://hcdev.openplus.ca/en/documentation/editing-your-profile
User Agent: Chrome, JAWS
Language: Both

Issue Description: Beneath "Language preferences", visually look like an ordered list, but it's coded as <p> tag.
![image](https://user-images.githubusercontent.com/88776404/129195527-21dde1ef-68b4-4922-b579-db74a89d9ce4.png)

Steps to reproduce: Move mouse to the text, right click mouse,

[2021-08-12 13:00] XiuJuanXia opened #73 "The Search tab: <h2> is skipped"
URL: https://hcdev.openplus.ca/en/documentation/search-tab
User Agent: Chrome, JAWS
Language: Both

Issue Description: In this page, h2 is skipped. h1 is followed by h3.
![image](https://user-images.githubusercontent.com/88776404/129200667-9c6ed641-9389-46dc-b9bd-06960accb046.png)

Steps to reproduce: Inspect the element. And also listen to JAWS.

Expected results: Change the two h3s to h2 so that

[2021-08-12 14:41] XiuJuanXia opened #74 "The Build: editing an alert/recall: image alternative text is not clear"
URL: https://hcdev.openplus.ca/en/documentation/build-editing-alertrecall
User Agent: Chrome, JAWS
Language: English

Issue Description: The alternative text for the second image is not clear: "Screen capture showing the indicator on the top right that shows that the content is locked and available for editing." In the image, the "Lock and edit" button is available. The content is not locked. When

[2021-08-12 15:07] qanitah opened #75 "Build: Links used instead of buttons"
URL: https://hcdev.openplus.ca/fr/node/2525/build#Section1 (click on Build for any Recall or Alert from Dashboard)
User Agent: Chrome, Firefox, NVDA
Language: Both

Issue Description: A few buttons are links but made to look like buttons. Links usually take user to another page or a new section but button triggers an action. These seem to be doing an action like locking to edit, or editing a secti

[2021-08-12 15:29] XiuJuanXia opened #76 "Creating a new alert/recall: Word "button" is missing after "Submit""
URL: https://hcdev.openplus.ca/en/documentation/creating-new-alertrecall
User Agent: Chrome
Language: English

Issue Description: In the third bullet of "Create an alert" and "Create a recall", word "button" is missing after "Submit". "Submit" is a button, therefore, when referring to it, "button" should be identified.
![image](https://user-images.githubusercontent.com/88776404/129224546-2d9f175e-

[2021-08-12 15:41] qanitah opened #77 "Build: Lock and unlock both have same symbols"
URL: https://hcdev.openplus.ca/fr/node/2525/build#Section1 (click on Build for any Recall or Alert from Dashboard)
User Agent: Chrome, Firefox
Language: Both

Issue Description: Lock and edit & Unlock both have the same graphic with the lock that is locked. This is confusing for the visual user.

![image](https://user-images.githubusercontent.com/14280062/129226019-46867e75-5993-40a1-b73a-383f44d6

[2021-08-12 16:00] XiuJuanXia opened #78 "The Build: editing an alert/recall-Section 1: Underlined text is found"
URL: https://hcdev.openplus.ca/en/documentation/section-1
User Agent: Chrome, JAWS
Language: English

Issue Description: Under "What to do (summary)", there is underlined text "one short sentence" that is not a hyperlink. According to [Canada.ca Content Style guide](https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-style-guide.html#wp4-2), use un

[2021-08-12 16:54] XiuJuanXia opened #79 "The Build: editing an alert/recall-Section 3: Acronyms (WYSIWYG and CSV)"
URL: https://hcdev.openplus.ca/en/documentation/section-3
User Agent: Chrome, JAWS
Language: English

Issue Description: Acronyms (WYSIWYG and CSV) appear before the full format. The full format is conveyed at the end of the page.

Steps to reproduce: Visual check

Expected results: Move the two notes for the full format of Acronyms (WYSIWYG and CSV) up to the beginning of the page.

[2021-08-12 17:09] XiuJuanXia opened #80 "Translating an alert/recall: French text is read in English on the English page"
URL: https://hcdev.openplus.ca/en/documentation/translating-alertrecall
User Agent: Chrome, JAWS
Language: English

Issue Description: In the second paragraph, there is French text "fleur de lis" that is read in English.
![image](https://user-images.githubusercontent.com/88776404/129239009-d21cf10c-39ba-4dee-b10f-9858d4ed6a83.png)

Steps to reproduce: Navigate to the second paragraph and inspect t

[2021-08-12 18:20] qanitah opened #81 "Build: Previously entered Notes appears only when the user opens it the first time or intermittently"
URL: https://hcdev.openplus.ca/en/node/166/build#Section1 (click on Build for any Recall or Alert from Dashboard)
User Agent: Chrome, Firefox
Language: Both

Issue Description: When the user opens a Build for the first time, the Notes entered at the bottom appear only at the first view or intermittently. If the user goes to another page/section and comes back, these are not there anymore. These ar

[2021-08-12 20:43] qanitah opened #82 "Build: Previously entered Notes/comments reply button coded incorrectly"
URL: https://hcdev.openplus.ca/en/node/166/build#Section1 (click on Build for any Recall or Alert from Dashboard)
User Agent: Chrome, Firefox
Language: Both

Issue Description: When there is Notes at the bottom, the Reply button is in an unordered list. Here is the code for the button.

`<ul class="links inline list-inline mrgn-tp-md">                    <li class="comment-reply"><a href="/en/comm

[2021-08-13 12:47] XiuJuanXia opened #83 "Managing taxonomy vocabularies: Broken link"
URL: https://hcdev.openplus.ca/en/documentation/managing-taxonomy-vocabularies
User Agent: Chrome, JAWS
Language: Both

Issue Description: There is a broken link "Taxonomy" under "The taxonomy administration view". Same issue in the French page.
![image](https://user-images.githubusercontent.com/88776404/129359017-7d8acf63-0f3c-4845-8a43-6488932035ef.png)
![image](https://user-images.githubusercon

[2021-08-13 14:36] qanitah opened #84 "English revisions: Fields missing form labels"
URL: https://hcdev.openplus.ca/en/node/1109/revisions (click on Build for any Recall or Alert from Dashboard and then Revisions tab)
User Agent: Chrome, Firefox
Language: Both

Issue Description: Revisions tab while Build is missing labels for the radio buttons in the table. Radio buttons should be associated correctly with labels. User doesn't know what they stand for.

Steps to reproduce: On Das

[2021-08-13 14:54] qanitah opened #85 "English revisions: Table header cells missing text"
URL: https://hcdev.openplus.ca/en/node/1109/revisions (click on Build for any Recall or Alert from Dashboard and then Revisions tab)
User Agent: Chrome, Firefox
Language: Both

Issue Description: Revisions tab (in Build) has a table that is missing text in the header cells - `<th>` is empty. Table headers `<th>` should not be empty.

Steps to reproduce: On Dashboard, open a Recall/Alert by clickin

[2021-08-13 15:34] qanitah opened #86 "Révisions en Français: English content on French page."
URL: https://hcdev.openplus.ca/fr/node/2526/revisions
User Agent: Chrome, Firefox
Language: French

Issue Description: There is English text on French page. All text should be on the language of the page.

Steps to reproduce: Compare selected revisions is already in English but the English error message appear when user clicks "Compare selected revisions".

Expected results: All text should be on

[2021-08-13 17:33] qanitah opened #87 "Revisions tab: Focus at incorrect location after receiving errors"
URL: https://hcdev.openplus.ca/en/node/2525/revisions
User Agent: Chrome, Firefox
Language: Both

Issue Description: When user clicks on Compare selected revisions and there is an error on the page, the focus goes to the top of the page. User using keyboard has to tab through all the top elements on the page to get to the error.

Steps to reproduce: Go to Revisions tab and don't select anything. H

[2021-08-13 19:15] qanitah opened #88 "Revisions tab: Radio buttons do not work in expected way"
URL: https://hcdev.openplus.ca/fr/node/1109/revisions
User Agent: Chrome, Firefox
Language: Both

Issue Description: Radio buttons on the page are not working in expected way. When there are 2 radio buttons for a section/question, they go left and right between the two (with right/left arrows or up/down arrows). But on this page, they take user up and down. The design is not intuitive and is very

[2021-08-13 19:22] qanitah opened #89 "Revisions tab: lang attribute missing value"
URL: https://hcdev.openplus.ca/fr/node/1109/revisions
User Agent: Chrome, Firefox
Language: Both

Issue Description:  On Revisions tab, wherever user name appears, there is lang attribute which has empty strings. Empty strings suggest that the language is unknown.

Steps to reproduce: Viewed source code; WAVE toolbar

Expected results: Language at the username should be language of the page. This

[2021-08-13 20:27] qanitah opened #90 "Revision tab: Focus order incorrect - visual order does not match keyboard tabbing order"
URL: https://hcdev.openplus.ca/en/node/1109/revisions/view/11648/14818/visual_inline
User Agent: Chrome, Firefox
Language: Both

Issue Description: When comparing 2 revisions, the top section has a content which is not in correct tabbing order for keyboard user (tabbing order does not match visual order). It goes to Previous change -> Next change. Please see screenshot of the order.

This is the c

[2021-08-19 15:43] davidgotlieb commented on #69
Resolved. Tooltips disabled as recommended.

[2021-08-19 15:49] davidgotlieb commented on #62
changed block title and added translation to match canada.ca

[2021-08-19 15:55] davidgotlieb commented on #24
﻿Updated our page template to match new 9.1 drupalwxt template

[2021-08-19 16:07] davidgotlieb commented on #4
﻿fixed, style matches Cananda design style ﻿https://www.canada.ca/en/government/about/design-system.html

[2021-08-19 16:07] davidgotlieb commented on #7
﻿Since these are related to the category tag which is displayed below the alert/recall these icons are decorative.

[2021-08-19 16:09] davidgotlieb commented on #2
when ﻿I tab into a page the skip links appears at the top - one was broken though because of some debugging we were doing, so I fixed it. Comparing to dv13 it is working the same as well as Canada.ca.

[2021-08-19 16:11] davidgotlieb commented on #63
his is fixed, replaced tocify with custom a block ﻿https://hcdev.openplus.ca/en/block/16?destination=/en/admin/structure/block/block-content﻿.

[2021-08-19 16:12] davidgotlieb commented on #39
﻿no longer an issue, tooltips have been disabled as per mmiron-HC recommendation at ﻿https://github.com/mmiron-HC/WST-RSAMS/issues/69

[2021-08-19 16:12] davidgotlieb commented on #27
﻿no longer an issue, tooltips have been disabled as per mmiron-HC recommendation at ﻿https://github.com/mmiron-HC/WST-RSAMS/issues/69

[2021-08-19 16:15] davidgotlieb commented on #14
This has to do with the artificial scenario we created for testing, where the account that was being used was created with all user roles. Openplus indicates it would not occur in real scenario. At most it's very much a fringe use case that would be very unlikely to occur.

[2021-08-19 16:17] davidgotlieb commented on #45
﻿These aren't really error messages. Tooltips were there to guide users filling out forms. Tooltips have been removed across the site.

[2021-08-19 16:18] davidgotlieb commented on #43
This is related to tooltips, which have been disabled.

[2021-08-19 16:21] davidgotlieb commented on #51
﻿This is fixed in d9 update.

[2021-08-19 16:24] davidgotlieb commented on #16
﻿This is not as simple as it sounds, there is an issue with Drupal core. Work is underway to fix it within the Core. Not recommended to address within individual templates.

[2021-08-19 20:52] davidgotlieb commented on #58
Text in help file changed to match

[2021-08-19 20:55] davidgotlieb commented on #22
Button is fixed. Since there's no real content on this page there's no real value in having a last revised date. It's just a login page for internal CMS users.

[2021-08-20 10:34] mmiron-HC commented on #22
Date modified/Version number is a mandatory element in the Canada.ca Content and information Architecture Specifications, therefore it must be there.
https://design.canada.ca/common-design-patterns/site-footer.html
![image](https://user-images.githubusercontent.com/65728700/130220853-b07638ca-bae0-45cf-bea5-c9d4421a883f.png)

[2021-08-20 13:26] davidgotlieb commented on #22
@mmiron-HC I checked with Michael Lawson since this is more a web standards question rather than an accessibility issue. He pointed out that, similar to our internal login page, the AEM login page also doesn't have a version number or last updated date. He thinks it's fine, since there's really no content to change.

[2021-08-20 17:06] mmiron-HC commented on #22
@davidgotlieb We are the Web Standards group. I will reach out to Michael to understand why he's giving you this advice when it is clearly marked as a mandatory element. Date modified represents the last time an update was made to the page.

[2021-08-20 18:54] mmiron-HC commented on #22
Michael provided additional information.
My thinking was that yes this would be required if it was an external Canada.ca page however the login is internal only and since there is no content on the page that would be updated, that it would not be required.  I was also basing that on the fact that the login for Adobe Experience Manager CMS which is used by Principal Publisher and all departments wo

[2021-08-20 18:54] #22 closed, assigned to davidgotlieb

[2021-08-26 19:06] echouin commented on #37
OpenPlus comments: Closing this. This is the Drupal default. Considering content management on Safari ios is likely not going to happen.

[2021-08-30 13:31] echouin commented on #50
Openplus: Closed item: "This is a tool tip and we are no longer using them." Related to previously closed item # 43.

[2021-08-30 14:11] mmiron-HC commented on #73
@CraigClark you tagged this issue to 01_public_facing but we believe that this is part of the authenticated view. can you confirm?

[2021-08-30 14:56] ndolter commented on #65
Validated in both French and English that 'Menu' has been removed.

[2021-08-30 14:56] #65 closed, assigned to mmiron-HC

[2021-08-30 15:21] ndolter commented on #61
Validated that the French page now displays the following:
- Alt text = Symbole du gouvernement du Canada
- Au sujet du gouvernement
- Haut de la page

[2021-08-30 15:21] #61 closed, assigned to mmiron-HC

[2021-08-30 17:00] ndolter commented on #60
Validated in both French and English that all the required changes listed above have been corrected.

[2021-08-30 17:00] #60 closed, assigned to mmiron-HC

[2021-08-30 17:27] ndolter commented on #10
Validated in both languages, in Chrome and Firefox and the focus has now been corrected.

[2021-08-30 17:27] #10 closed

[2021-08-30 18:59] ndolter commented on #24
Validated in both French and English that the smaller viewport (Tested in responsive design mode) now has EN and FR.

[2021-08-30 18:59] #24 closed, assigned to hydegeoff

[2021-08-30 19:11] ndolter commented on #23
Tested on the iphone 11, as well as, testing in responsive design mode (Firefox: Ctl-Shift-M) and the English page now has the links in the footer, however, the French page is sill missing them.

[2021-08-30 19:23] ndolter commented on #11
Validated that the contrast ratio in Firefox is now 3:7:1 in both French and English.

[2021-08-30 19:23] #11 closed

[2021-08-30 19:36] ndolter commented on #8
Validated in both French and English that the images now pass the contrast contrast.

[2021-08-30 19:40] ndolter commented on #2
Validated in both languages (Firefox and Chrome) that the skip links are all visible when tabbing.

[2021-08-30 19:40] #2 closed

[2021-08-30 19:54] ndolter commented on #3
Validated in both French and English that H1 is now 'Find recalls, advisories and safety alerts'.  Skip to main content will navigate the user to this.

[2021-08-30 19:54] #3 closed

[2021-08-30 19:56] #8 closed

[2021-08-31 14:26] ndolter commented on #7
This ticket can be closed since the class = svg-inline and images are decorative.

[2021-08-31 14:26] #7 closed

[2021-08-31 15:27] ndolter commented on #51
The French page now has the translations, however, a couple of issues still remain:

1. The button labels for 'Premiere' and 'Dernier' are spelled incorrectly. Please note that these button labels in both languages do not match to those in WET.
WET = 'Précédent' and 'Suivant' / 'Previous' and 'Next'
RSAMS = 'Premiere' and 'Dernier' / 'First' and 'Last'

2. WET does not include a tooltip (e.g. Go t

[2021-08-31 16:01] ndolter opened #91 "Find Recalls: Unexpected behaviour occurring when clicking the Last button"
URL: https://hcdev.openplus.ca/en
User Agent: Chrome 92.0, Firefox 91.0
Language: Both

Issue Description: When the user selects the 'Last' button at the bottom of the page, the numbered buttons are switched over to year numbers.

Steps to reproduce: Mouse and click

Expected results: The page numbers should not change
![image](https://user-images.githubusercontent.com/68117281/131535619-b917edce-

[2021-08-31 18:37] ndolter commented on #62
The following issues still exist (https://hcdev.openplus.ca/en):
1. French & English pages: The 'Find'/'Trouver' button should be 'Search'/'Recherche' to match that of the Canada.ca template
2. French & English pages: The tooltip on the 'Find/Trouver' button is not required as it is redundant

![image](https://user-images.githubusercontent.com/68117281/131685787-e2ba623b-5645-4d48-b62c-86334b0a10a

[2021-09-01 14:40] mmiron-HC commented on #4
Re: contrast - links are on their own and not within a body of text AND are now being displayed with an underline, therefore there is no requirement to make them higher contrast.

Closing issue - Hovering will be address via a new issue.

[2021-09-01 14:40] #4 closed

[2021-09-01 14:50] mmiron-HC opened #92 "Links: On hover/on Focus links should have a visual change"
URL: https://hcdev.openplus.ca/en#wb-cont
User Agent: Chrome
Language:  English

Issue Description: When you hover (and On focus) over a link, there is no visual change.
looking at the code, it seems that both element states are overridden
![image](https://user-images.githubusercontent.com/65728700/131692711-2c6f4201-d7e2-48a6-aadf-acca5b21eb0a.png)

Steps to reproduce:
1. Using your mouse, hover

[2021-09-02 12:50] ndolter commented on #9
Validated that no errors exists.

[2021-09-02 12:50] #9 closed

[2021-09-02 15:13] ndolter opened #93 "'Search website' needs to be translated to French"
URL: https://hcdev.openplus.ca/fr
User Agent: Firefox 91.0.2
Language: French

Issue Description: The text should match to the language of the page.  'Search website' needs to be translated up in the top right hand corner of the page.

Steps to reproduce:
1. Select any of the links from the 'Trouvez des rappels, des avis et des avis de sécurité' page
2. Visually scan the page
![image](https://user

[2021-09-02 18:47] ndolter opened #94 "Find recalls: Missing form label on 'Search website""
URL: https://hcdev.openplus.ca/en
User Agent: Firefox 91.0.2
Language: Both

Issue Description: A form control does not have a corresponding label for 'Search website' in the top right hand corner of page.  Please refer to Canada.ca theme.

Steps to reproduce:
1. Open the 'Find recalls, advisories and safety alerts' page
2. Access any of the links on the page
3. Turn on WAVE
RSAMS
![image](https:/

[2021-09-08 11:11] mmiron-HC opened #95 "French Détails section of Recall contains English words"
URL: https://hcdev.openplus.ca/fr/avis-rappel/test-rappel-salades-chou-frise-marque-curation-foods-et-salades-hachees-pretes-servir
User Agent: Chrome
Language: French

Issue Description: the "Détails" section of the recalls page contains English labels.
Steps to reproduce:

1. Navigate to the URL
2. Scroll to the "Renseignement supplémentaires" section and expand "Détails" section.
3. Original pu

[2021-09-08 11:19] mmiron-HC opened #96 "French "Report a problem" button contains English text"
URL: https://hcdev.openplus.ca/fr/avis-rappel/test-rappel-salades-chou-frise-marque-curation-foods-et-salades-hachees-pretes-servir
User Agent: Chrome
Language: French

Issue Description: Within the "Report a problem" button there is English text on the French page.
Steps to reproduce:
1. Navigate to the URL
2. Scroll to the bottom of the page and click on the "Signaler un problème ou une erreur s

[2021-09-08 11:26] mmiron-HC opened #97 "Submit button on Report a problem button has unnecessary title"
URL: https://hcdev.openplus.ca/fr/avis-rappel/test-rappel-salades-chou-frise-marque-curation-foods-et-salades-hachees-pretes-servir
User Agent: Chrome
Language:  both EN and FR.

Issue Description:
The “title” attribute of the “Submit” button says “Search”. It is not correct. In this case, the “title” attribute is not necessary and should be removed.

ENGLISH:
<button class="webform-button--submit

[2021-09-16 13:00] davidgotlieb commented on #91
These are not years, there are that many pages in the pager. We set the pager to show only 10 pages. If people need to go deeper than that search is an option

[2021-09-16 13:06] davidgotlieb commented on #62
This will be fixed on the next merge of fixes/theme into the current dev branch

[2021-09-29 15:20] echouin commented on #51
OP confirmed: fixed.

[2021-10-01 12:21] echouin commented on #86
OP has confirmed this is completed.

[2021-10-04 14:32] ndolter commented on #95
Validated that the text has been translated.
![image](https://user-images.githubusercontent.com/68117281/135870125-2da76d86-4cc0-4d5f-ac45-1dcbae76de5e.png)

[2021-10-04 14:32] #95 closed, assigned to mmiron-HC

[2021-10-04 14:56] ndolter commented on #80
Validated that the 'fr' lang attribute has been added and that the screen reader reads it correctly.

[2021-10-04 14:56] #80 closed, assigned to XiuJuanXia

[2021-10-04 15:04] ndolter commented on #93
Validated that the Search field has been removed in both English and French as per the following comment:
[9/20, 8:27 AM] Manon MironCanada.ca Search bar - being omitted
Note: RSAMS has gotten DTO approval to omit the Canada.ca Search bar on the header. While they feel this is not a transactional page, they do agree with the client that it would be confusing to have two search bars. Therefore the

[2021-10-04 15:04] #93 closed, assigned to ndolter

[2021-10-04 17:13] ndolter commented on #41
Validated that the translations have been made.
![image](https://user-images.githubusercontent.com/68117281/135894767-c6fa30f8-753e-4524-b3bb-5a4a65d5d8e0.png)

[2021-10-04 17:13] #41 closed, assigned to mmiron-HC

[2021-10-04 18:07] ndolter commented on #27
Validated in both French and English that tooltips are no longer available.

[2021-10-04 18:07] #27 closed, assigned to mmiron-HC

[2021-10-04 18:14] qanitah commented on #19
This has been fixed

[2021-10-04 18:14] #19 closed, assigned to qanitah

[2021-10-04 18:24] ndolter commented on #12
Although an 'H1' is now present, there shouldn't be 2 instances of it.  Currently, both 'Dashboard' and 'UAT testing' are listed as 'H1'.  UAT testing should instead be 'H2' so as to be in a hierarchical order.
![image](https://user-images.githubusercontent.com/68117281/135904019-49c5bf7c-6fac-40ad-978a-0c7bfbd21a55.png)

[2021-10-04 18:48] qanitah commented on #89
This is still not fixed. The more revisions a page has, the more rows of versions there are. Each version has info on who made the change for that version and it has lang="" in the code. This code means that the language is either missing or invalid. This attribute (lang="") should be just removed and the language or the page will be applied to this content.

[2021-10-04 18:48] ndolter commented on #73
Validated in both languages that the heading structure is now correct.
![image](https://user-images.githubusercontent.com/68117281/135907130-1bb98ed4-e48d-422e-aac2-cf519325ac5e.png)

[2021-10-04 18:48] #73 closed, assigned to XiuJuanXia

[2021-10-04 18:51] davidgotlieb commented on #12
Hi @ndolter , The UAT header is just temporary as we needed to add a quick link for our testing by programs. That will be deleted shortly so this shouldn't be an issue. It isn't permanently on the page.

[2021-10-04 19:33] qanitah commented on #84
Radio buttons have labels now but they're still missing fieldset/legend tags. Radio buttons should be grouped together using fieldset/legend tags so the user knows which group is which. For example, it seems like there are 2 groups - A and B. So As are to be grouped together and Bs are to be grouped together.

[2021-10-04 19:37] qanitah commented on #63
Fixed

[2021-10-04 19:37] #63 closed, assigned to qanitah

[2021-10-05 12:01] ndolter commented on #66
1. The button now has a label in both French and English
2. The aria label is now hidden

[2021-10-05 12:01] #66 closed, assigned to mmiron-HC

[2021-10-05 12:55] qanitah commented on #18
Fixed

[2021-10-05 12:55] #18 closed, assigned to qanitah

[2021-10-05 13:11] ndolter commented on #12
Closing ticket since the 2nd 'H1' has now been removed.

[2021-10-05 13:11] #12 closed

[2021-10-05 15:01] ndolter commented on #92
Validated in both languages that when hovering there is visual change on the focus state.

[2021-10-05 15:01] #92 closed, assigned to mmiron-HC

[2021-10-05 15:01] qanitah commented on #30
Fixed.

[2021-10-05 15:39] qanitah commented on #20
Fixed

[2021-10-05 15:39] #20 closed, assigned to qanitah

[2021-10-05 15:42] qanitah commented on #14
The ids have been updated and the reasoning also makes sense that the user will not see all scenarios ( hopefully will see only 1 at a time).

[2021-10-05 15:42] #14 closed

[2021-10-05 18:40] ndolter commented on #96
Validated in Chrome ver 94.0.4606.61 that the text has been translated when the user is logged in. Please note that the character count does not get displayed if the user is not logged in.  Please advise if this is the way it's designed to be.  If so, the ticket can be closed.
![image](https://user-images.githubusercontent.com/68117281/136081167-05607375-9349-41d2-a23d-3f5929f53c7a.png)

[2021-10-06 12:58] ndolter commented on #58
After selecting to reset the password, the email that is received does not have clear enough instructions.  'Click on this button' should be more precise and provide the button label of 'Log in'.
![image](https://user-images.githubusercontent.com/68117281/136206759-f7ed4920-8b97-4410-a88e-ae4218290f7b.png)

[2021-10-06 14:15] qanitah commented on #30
This text on French page is in English.
![image](https://user-images.githubusercontent.com/14280062/136220729-02b09e6d-6281-40b8-a9d8-dc6d69e4495b.png)

[2021-10-06 14:44] echouin commented on #96
Hello, this was completed by OP. I think you may have this in error as you get the count when you are not logged in

[2021-10-06 14:51] qanitah commented on #55
It now reads the page it will be going to with the screen reader.

[2021-10-06 14:51] #55 closed, assigned to qanitah

[2021-10-06 14:56] qanitah commented on #45
It still appears while it should have an error message. Also, the page scrolls up when user clicks 'save' but only the message appears and field is not visible. I thought tooltips were the message in black block but this is different.
![image](https://user-images.githubusercontent.com/14280062/136228880-b9be5c81-8bcb-42ba-8ef7-911491a4b802.png)

Same for username field. It should be a proper error

[2021-10-06 15:07] qanitah commented on #39
The instructions are visible now and aria-describedby is used to announce it with the field

[2021-10-06 15:07] #39 closed, assigned to qanitah

[2021-10-06 15:21] ndolter commented on #96
Could it perhaps be the version of Firefox?  I currently have the issue in Firefox version 92.0.1 on my VM, but don't have the issue with a different version of FF on my host pc.
![image](https://user-images.githubusercontent.com/68117281/136233594-af1bd6ee-2ad1-4e70-ac30-c46754ae18a0.png)

[2021-10-06 15:43] qanitah commented on #69
They are still there - English and French

![image](https://user-images.githubusercontent.com/14280062/136237429-4c820491-4cff-4bc0-8a1d-9ec58c727cd9.png)

![image](https://user-images.githubusercontent.com/14280062/136237591-f30ce2e6-4ce7-4242-b1af-74379c211637.png)

[2021-10-06 15:58] qanitah commented on #88
They are still not working how a radio button would be. For each set of radio buttons, the user should know what they're selecting. For example, if the user is in Column A, the user goes up and down (left/right) with the arrow keys but they just get the version # only. They won't know the details that are in the first column. Fieldset/legend should be used and each set of radio buttons should be a

[2021-10-06 16:01] qanitah commented on #85
Fixed

[2021-10-06 16:01] #85 closed, assigned to qanitah

[2021-10-06 16:10] echouin commented on #40
@qanitah This is a Drupal default. They may change this in future Drupal releases. Suggest item be closed.

[2021-10-06 16:12] echouin commented on #37
@mmiron-HC from OP: Safari not supported for login. Suggest this item be closed.

[2021-10-06 16:13] echouin commented on #30
@qanitah Sent EN and FR revised text to OP. Should be completed soon.

[2021-10-06 16:16] echouin commented on #23
@ndolter This item was fixed. Suggest item be closed.

[2021-10-06 17:24] mmiron-HC commented on #40
@echouin We shouldn't be closing issues that are still outstanding. This template is open source. this is a WCAG violation therefore your developer could make the change and submit the fix to Drupal WXT. This would help advance the quality of the template.

[2021-10-06 17:28] mmiron-HC commented on #37
@echouin We will keep the issue open as this is still a failure.

[2021-10-06 17:32] qanitah commented on #81
The notes are always visible now.

[2021-10-06 17:32] #81 closed, assigned to qanitah

[2021-10-06 17:39] qanitah commented on #50
Still displays when there is an error.

![image](https://user-images.githubusercontent.com/14280062/136254891-5e9a6638-d2f4-476c-91cf-44a09bda0a8b.png)

![image](https://user-images.githubusercontent.com/14280062/136255002-0230673c-0c22-4260-a6b4-b9d81708602c.png)

Also, please note that clicking on "Annuler" on "Modifier le profil" takes the user to the English Dashboard.

[2021-10-06 17:46] qanitah commented on #48
Items have been removed that had colour issue. It still does not follow WET layout though.

[2021-10-06 17:46] #48 closed, assigned to qanitah

[2021-10-06 17:47] qanitah commented on #49
Fixed. There are table headers now.

[2021-10-06 17:47] #49 closed, assigned to qanitah

[2021-10-06 18:06] qanitah commented on #86
Some is fixed but some still in English
![image](https://user-images.githubusercontent.com/14280062/136257059-42d950c1-c4b3-4907-b021-ca4d27f53e43.png)

[2021-10-06 18:08] echouin commented on #50
@qanitah following up w/ OP.

[2021-10-06 18:09] ndolter commented on #62
1. The 'Search' field still does not match to the Canada.ca theme page.  Also, please note that the text shouldn't be cut off in the Search field as is the case on the French page.  The language link is also not placed the same distance to the Search field as in the Canada.ca page
![image](https://user-images.githubusercontent.com/68117281/136255284-1100046a-598c-40d2-841a-f9fb112dde43.png)
![imag

[2021-10-06 18:25] echouin commented on #13
@mmiron-HC checking w/ OP

[2021-10-06 19:18] qanitah commented on #23
Fixed

[2021-10-06 19:18] #23 closed, assigned to ndolter, hydegeoff

[2021-10-06 19:19] qanitah commented on #67
Fixed

[2021-10-06 19:19] #67 closed, assigned to qanitah

[2021-10-06 19:22] qanitah commented on #51
Fixed

[2021-10-06 19:22] #51 closed, assigned to qanitah

[2021-10-06 19:33] ndolter commented on #94
Validated that the form label has been provided, however, the French page needs to be translated.
![image](https://user-images.githubusercontent.com/68117281/136271028-51b014af-458e-4af9-bb9d-fc0938456871.png)

[2021-10-06 19:36] ndolter commented on #91
Validated in both languages that the issue is no longer occurring.

[2021-10-06 19:36] #91 closed, assigned to ndolter

[2021-10-06 19:50] qanitah commented on #43
These still present on both pages.
![image](https://user-images.githubusercontent.com/14280062/136273319-ea7e0052-0e72-4700-bb93-06ca2745fb99.png)

[2021-10-07 13:33] ndolter commented on #43
I also found an additional example on the Dashboard page:
![image](https://user-images.githubusercontent.com/68117281/136394630-ef2ad1a5-4843-452e-b9a8-837e10ac502f.png)

[2021-10-07 14:18] ndolter opened #98 "Dashboard: English text on French page"
URL: https://hcdev.openplus.ca/fr/user/197
User Agent: Chrome
Language: French

Issue Description: There is English text on the French page. Please see screenshot.  All text should contain the language of the page.

Steps to reproduce: Visually scan the Dashboard page

Expected results: All text should contain the correct language of the page.
![image](https://user-images.githubusercontent.com/681

[2021-10-07 14:27] ndolter opened #99 "Title attribute should be removed"
URL:  https://hcdev.openplus.ca/en/user/login
User Agent: Chrome
Language: both EN and FR

Issue Description: The “title” attribute of the ‘Log in’ / ‘Se connecter’ button says ‘Search’ / Recherche. It is not correct.  In this case, the “title” attribute is not necessary and should be removed.

Steps to reproduce:
1.	Navigate to the Log in
2.	View code for the Submit button or hover your mouse ove

[2021-10-07 18:15] echouin commented on #37
@mmiron-HC From OP: "Safari IOS is not supported for login.":

[2021-10-07 18:41] echouin commented on #98
@mmiron-HC this is a duplicate entry. I have already tasked the fix for Issue #30 (same item): https://github.com/mmiron-HC/WST-RSAMS/issues/30#issue-960545855

[2021-10-07 20:30] echouin commented on #16
Hi @mmiron-HC Can we close this one? This is a WxT / Drupal core issue. There is an issue for it in Drupal. This is tagged as moderate, so I ﻿assume not a deal breaker.

[2021-10-07 20:59] echouin commented on #30
@qanitah OP has confirmed this has been completed. Please note that Issue #98 appears to be a duplication of this issue. Seeking to get verification to close this item. Thank you.

[2021-10-07 21:00] echouin commented on #98
As noted, Issue #30 has now been resolved. 30 and 98 (duplicate) should be closed at the same time. Thank you.

[2021-10-07 21:03] echouin commented on #58
@ndolter this has been corrected.

[2021-10-08 12:36] ndolter commented on #98
Closing ticket since this is a duplicate.

[2021-10-08 12:36] #98 closed, assigned to mmiron-HC

[2021-10-08 13:20] ndolter commented on #58
@echouin Has this fix been applied yet?  If so, I re-tested and don't yet see the fix.  Please also note that the 2nd test was done in French, but the email received is in English if this could please get translated.
English: https://hcdev.openplus.ca/en/user/reset/203/1633697889/q_6YuH2CTMqE7EJZhBaahhx6icNkRwXTaaBJcQuv04k

French: https://hcdev.openplus.ca/en/user/reset/203/1633698192/dcCSQhkLEEx

[2021-10-08 13:40] echouin commented on #58
@ndolter getting the text translated soon. Will be corrected shortly.

[2021-10-08 13:47] qanitah commented on #30
Fixed

[2021-10-08 13:47] #30 closed, assigned to qanitah

[2021-10-08 15:40] echouin commented on #94
@ndolter This is fixed.

[2021-10-08 15:45] qanitah opened #100 "Report a problem: colour contrast fails for a couple of items"
URL: All - eg. https://hcdev.openplus.ca/en/
User Agent: Chrome, Firefox
Language: Both

Issue Description: There are a couple of colour contrast issues with "Report a problem or mistake on this page" section.

1. Under “Report a problem or mistake on this page”, the <textarea> form field fails contrast ratio against it adjacent colour when focused. Border for the field at focused state = #E09600;

[2021-10-08 17:55] echouin commented on #37
@mmiron-HC Since this browser is not supoorted, can we close this out?

[2021-10-08 18:40] qanitah commented on #99
This also applies to search page https://hcdev.openplus.ca/en/search/site

The “title” attribute of the “Reset” button says “Search”. In this case, the “title” attribute is not necessary and should be removed. Also, the “title” attribute from the “Search” should be removed as well since it is the same value and doesn’t add any value to button’s description.

![image](https://user-images.githubuser

[2021-10-08 18:48] qanitah commented on #99
Similar issue on Recherche page https://hcdev.openplus.ca/fr/search/site

![image](https://user-images.githubusercontent.com/14280062/136610669-b4e81efe-7039-44c9-8664-52cc06a5cff7.png)

[2021-10-08 18:54] ndolter opened #101 "Food Recall warning: Text needs translated on French page"
URL: https://hcdev.openplus.ca/fr/avis-rappel/test-rappel-certains-produits-vegetaliens-et-vegetariens-marque-happy-veggie-world
User Agent: Chrome
Language: French

Issue Description: There is English text on the French page. Please see screenshot. All text should contain the language of the page.

Steps to reproduce:
1. Select the url listed above
2. Visually scan the page
3. 'Media and public i

[2021-10-08 19:02] ndolter opened #102 "Search page: Text needs translated on French page"
URL: https://hcdev.openplus.ca/fr/search/site
User Agent: Chrome
Language: French

Issue Description: There is English text on the French 'Recherche' page.  All text should contain the language of the page.

Steps to reproduce: Visual scanning

Expected results: All text should contain the correct language of the page.

![image](https://user-images.githubusercontent.com/68117281/136611711-4d4702f6

[2021-10-08 19:35] qanitah commented on #99
Some other pages also have incorrect title attributes.

![image](https://user-images.githubusercontent.com/14280062/136615650-ec24d104-480b-4794-8a6e-b4fe2539ec97.png)

![image](https://user-images.githubusercontent.com/14280062/136615661-6c3bece3-0ed0-4e63-a328-2eb159cadea2.png)

![image](https://user-images.githubusercontent.com/14280062/136615678-93fcaf82-da63-4a89-a35c-07521813f8b1.png)

![ima

[2021-10-08 19:40] qanitah opened #103 "French search page gives results in English search page"
URL: All - eg. https://hcdev.openplus.ca/en/
User Agent: Chrome, Firefox
Language: Both

Issue Description: When the user is in a French record and types in a search term on top right to search, the result is English search results page. It should keep the user in French.

Steps to reproduce: Go to a record (https://hcdev.openplus.ca/fr/avis-rappel/information-pour-consommateurs-au-sujet-nouilles-

[2021-10-08 19:40] echouin commented on #99
@qanitah added public facing label as some of these issues are on the public website.

[2021-10-12 11:13] mmiron-HC commented on #16
@echouin no we can't close these as they are still valid issues. Mark it using a milestone. All WCAG issues must be fixed eventually. We need to explain to management/CIO what risk they are accepting. We will identify all issues that are outstanding and explain that some are out of your control (platform) and others are still in your hands (if there are any outstanding). But in the end, all WCAG i

[2021-10-12 12:20] XiuJuanXia opened #104 "Subscribe: Red asterisk * is not sufficient to indicate the field is required field"
URL: https://hcdev.openplus.ca/en/form/subscribe
User Agent: Chrome
Language: Both

Issue Description: When users leave three fields that have red asterisk * empty and activate the “Submit” button, error message appears and users cannot submit the form. Word “required” should be part of the label so that all users will be aware that these fields are mandatory fields before they try to submit the f

[2021-10-12 12:31] XiuJuanXia opened #105 "Subscribe: Only the first required field has error message when all the required fields empty"
URL: https://hcdev.openplus.ca/en/form/subscribe
User Agent: Chrome
Language: Both

Issue Description: When leave all the three required fields empty and activate the “Submit” button, only one error message appears for the first required field. There is no error message appears for the other two required fields. Also the error message “Please fill out this field” is too generic and not specific to

[2021-10-12 12:42] mmiron-HC commented on #37
@echouin how are you going to confirm that they will not open this in safari? do you have a disclaimer that you cannot use this browser?
The [Guidance on implementing Web Standards](https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/guidance-implementing-standard-web-accessibility.html) says "The current and previous versions of the default browsers of each mobi

[2021-10-12 12:48] XiuJuanXia opened #106 "Subscribe: English error message appears in French page"
URL: https://hcdev.openplus.ca/fr/form/subscribe
User Agent: Chrome
Language: French

Issue Description: In French page, if leave any required field empty and activate the “Soumettre” button, English error message appears.
![image](https://user-images.githubusercontent.com/88776404/136957902-bb11e378-324e-44df-9c29-d1c974901745.png)
![image](https://user-images.githubusercontent.com/88776404/13695

[2021-10-12 12:53] XiuJuanXia opened #107 "Subscribe: An end </div> is found, but there is no start <div> found."
URL: https://hcdev.openplus.ca/en/form/subscribe
User Agent: Chrome
Language: Both

Issue Description: In line 162, there is an end </div> found, but there was no start <div> found. View Page Source, search and there is 124 <div> and 125 </div>.
![image](https://user-images.githubusercontent.com/88776404/136959486-27eafac8-8203-4695-9d74-287b52d2e1e9.png)

Steps to reproduce:

1. View page source

[2021-10-12 13:25] echouin commented on #104
@XiuJuanXia this is the same as Issue #16: This is a WxT / Drupal core issue. There is an issue for it in Drupal. This is tagged as moderate, so I ﻿assume not a deal breaker

[2021-10-12 13:57] XiuJuanXia commented on #104
@echouin tagged as moderate.

[2021-10-12 15:00] echouin commented on #37
@mmiron-HC Hi Manon, this is specifically for CMS Users. I don't think that many of our CMS users would be adding or updating recall information to the RSA system through their Mobile devices. I don't believe this data-entry mode was requested by our CMS users either. I will also make a note in our CMS User HELP GUIDE that speaks to this fact. This is a feature we could look at implementing down t

[2021-10-12 15:04] echouin commented on #105
@XiuJuanXia from OpenPlus: "Actually there are no error messages on for submission. What you are seeing here are the browser defaults?"

[2021-10-12 15:06] echouin commented on #106
@XiuJuanXia This is related to there being no error messages (similar to #105).﻿

﻿The reason the error message is in english is because it is the browser default message. The browser will use whatever default language is being used by the browser/OS.

Suggest Close?

[2021-10-12 15:11] echouin commented on #88
From OP: I ﻿would like to close this one. These issues are related to the Diff module. We cannot fix these ourselves, but we can report the issue to the module maintainer.
﻿this is similar to this critical issue #84

[2021-10-12 15:12] echouin commented on #84
From OP: I ﻿would like to close this one. These issues are related to the Diff module. We cannot fix these ourselves, but we can report the issue to the module maintainer.
﻿this is similar to this critical issue #88

[2021-10-12 15:15] echouin commented on #69
From OP: "This is not relevant to public facing pages and it is not a critical or serious backend.﻿ Could you please approve the closure?"

[2021-10-12 15:18] echouin commented on #45
@qanitah From OP: I did some investigating into this. Those tips are coming from the browser. They have nothing to do with the site. I ﻿would recommend closing this card.﻿

[2021-10-12 15:31] XiuJuanXia commented on #105
@echouin, tested in Chrome and Firefox, the three fields that have red asterisk * at the end are read "required" by screen readers. And also if checking the source code,  required="required" for the input fields. In this case, if we leave the three fields empty and submit the form, error message should be triggered.

[2021-10-12 15:33] XiuJuanXia commented on #106
@echouin, tested in Chrome and Firefox, the three fields that have red asterisk * at the end are read "required" by screen readers. And also if checking the source code,  required="required" for the input fields. In this case, if we leave the three fields empty and submit the form, proper error message should be triggered in proper language.

[2021-10-12 16:18] echouin commented on #58
This is done﻿

[2021-10-12 17:52] echouin commented on #103
OP confirms FIXED

[2021-10-12 18:43] mmiron-HC commented on #45
@echouin We should not rely on the browser validation for several reasons:
1. browser language will be an issue. if my browser language is English and I'm working in the French interface and trigger errors, the errors will be displayed in English. This is a failure.
2. The errors are not persistent and disappear quickly. This will cause issues for users who have cognitive difficulties as they will

[2021-10-12 19:05] sarasuri opened #108 "Food recall warning: Extra tab order between thumbnail image links"
URL: https://hcdev.openplus.ca/en/alert-recall/certain-happy-veggie-world-hearts-choices-and-vegefarm-brand-vegan-and-vegetarian-1
User Agent: Firefox (v92), Chrome (v94), MS Edge
Language: English and French

Issue Description: There is an extra tab order between each thumbnail image link and last focusable element and the first image link and last image link and "Next" link. It could be because

[2021-10-12 19:11] echouin commented on #106
From OP: the reason for the alerts in the wrong language has to do with the client browser/OS config, not Drupal. There is a related issue being worked on here #105 , suggest that this one be closed in favor of 105 (which should solve both issues).

[2021-10-12 19:17] ndolter opened #109 "Report a problem not consistent with Canada.ca theme"
URL: Any page
User Agent: Chrome
Language: Both

Issue Description: The 'Report a problem or mistake on this page' button has been implemented differently than the Canada.ca pattern.
For details refer to this URL: https://design.canada.ca/common-design-patterns/report-problem.html

Please note that the button, the label, the placement and the privacy statement are mandatory.
![image](https://user-

[2021-10-12 19:26] echouin commented on #108
Hi @mmiron-HC please note that this is a test build of a recall that was completed by one of our users practicing. I will be asking OP to verify on this as it looks to be a function issue.

[2021-10-12 19:49] ndolter opened #110 "Links need to be labelled consistently"
URL: https://hcdev.openplus.ca/en/alert-recall/test-uat-multiple-lots-irbesartan-losartan-and-valsartan-drugs-recalled-due-azido and https://hcdev.openplus.ca/en
User Agent: Firefox 93.0
Language: Both

Issue Description: Links “Report a health or safety concern” and “Submit report” (on the home page: https://hcdev.openplus.ca/en) go to the same page (https://www.canada.ca/en/services/health/repor

[2021-10-12 19:52] sarasuri opened #111 "Food recall warning: Keyboard focus is not visible for content under "Additional information""
URL: https://hcdev.openplus.ca/en/alert-recall/certain-happy-veggie-world-hearts-choices-and-vegefarm-brand-vegan-and-vegetarian-1
User Agent: Firefox (v92), Chrome (v94), MS Edge
Language: English and French

Issue Description: When tabbing through, under “Additional information”, keyboard focus indicator is not visible for collapsed/expand content.

![image](https://user-images.githubusercontent

[2021-10-12 19:58] ndolter opened #112 "Buttons need to be labelled consistently"
URL: https://hcdev.openplus.ca/en and
https://hcdev.openplus.ca/en/search/site

User Agent: Firefox 93.0
Language: Both

Issue Description: The buttons “Find” and “Search” provide the same functionality but are identified differently. They should be identified consistently.  'Search ' is the more universally applied search term.
![image](https://user-images.githubusercontent.com/68117281/137020136

[2021-10-12 20:24] sarasuri opened #113 "Link text is not proper for one of the skip links on all English pages"
URL: https://hcdev.openplus.ca/en
User Agent: Firefox (v92)
Language: English

Issue Description:
The skip link that allows users to jump to the "About government" section doesn't have a proper link text. Currently, it is labelled as Skip to “About this site”.

![image](https://user-images.githubusercontent.com/12256067/137023741-4d462f40-4782-45e5-9577-969dd992d0d0.png)

Steps to reproduce:

1. O

[2021-10-13 12:11] echouin commented on #104
From OP: This is done and will be available on the site in the next pull
﻿

[2021-10-13 12:15] echouin commented on #111
Sent to OP

[2021-10-13 12:18] mmiron-HC commented on #106
@echouin we do not close issues until the item has passed testing.

[2021-10-13 12:19] mmiron-HC commented on #69
@echouin as previously mentioned, we will only close issues once they are fixed.

[2021-10-13 12:27] echouin commented on #107
@XiuJuanXia From OP: Fixed.

[2021-10-13 12:40] XiuJuanXia opened #114 "Dashboard: Revisions tab - Using color to convey changes of two versions"
URL: https://hcdev.openplus.ca/en/node/60168/revisions/view/591938/597590/visual_inline
User Agent: Chrome
Language: English

Issue Description: When comparing two versions, there is green highlighted text that visually indicates the differences between two versions. This is not conveyed to some assistive technology users such as screen reader users.
![image](https://user-images.githubusercontent.

[2021-10-13 12:56] XiuJuanXia opened #115 "Dashboard: Revisions tab - Two compare buttons appear on the page but only one is included in the instruction"
URL: https://hcdev.openplus.ca/en/node/60168/revisions
User Agent: Chrome
Language: English

Issue Description: There are two "Compare selected revisions" buttons on the page, but the instruction text only contains one that is located after the table "To compare two revisions, use the radio buttons from column A and B and press the compare button at the bottom of the table."
![image](https://user-

[2021-10-13 13:03] XiuJuanXia opened #116 "Dashboard: Revisions tab - French language link sends users to a Gateway Timeout page"
URL: https://hcdev.openplus.ca/en/node/60168/revisions/view/591938/597590/visual_inline
User Agent: Chrome
Language: English

Issue Description: French language link sends users to a Gateway Timeout page.
![image](https://user-images.githubusercontent.com/88776404/137137523-ba45f6ab-fc8f-45f7-a374-a39a4519f397.png)

Steps to reproduce:

1. Log into the Dashboard
2. Action on the "Build"
3. Select

[2021-10-13 13:09] ndolter commented on #94
Validated that both Search fields are now translated.
![image](https://user-images.githubusercontent.com/68117281/137138888-b44869f8-15ea-405a-bb02-0a5d3cd1aacd.png)

[2021-10-13 13:09] #94 closed, assigned to ndolter

[2021-10-13 13:48] XiuJuanXia commented on #104
@echouin The word "required" is included as part of the label for the required fields. However the screen reader users will hear the word "required" twice because there is a hidden "required". Here is the source code: `<span class="fieldset-legend js-form-required form-required">Select your preferred language of correspondence <span class="required">(required)</span><span aria-hidden="true" class=

[2021-10-13 13:52] echouin commented on #101
@mmiron-HC completed.

[2021-10-13 14:03] XiuJuanXia opened #117 "Subscribe: autocomplete attribute should be applied to the email address field"
URL: https://hcdev.openplus.ca/en/form/subscribe
User Agent: Chrome
Language: Both

Issue Description: For the email address input field, autocomplete attribute should be applied. Please refer to [Using HTML 5.2 autocomplete attributes](https://www.w3.org/WAI/WCAG21/Techniques/html/H98) and [Input Purposes for User Interface Components](https://www.w3.org/TR/WCAG21/#input-purposes)
Steps to reprod

[2021-10-13 14:38] mmiron-HC opened #118 "Recall: expand collapse menu appears after triggering Comment error"
URL: [https://hcdev.openplus.ca/en/alert-recall/mmtestfr-web-standards-compliance-report-health-canada-border-compliance-and]
User Agent: Chrome
Language: En

Issue Description: There is an expand/collapse link that appears after triggering the SAVE on the Recall when no comment was entered.
The expand/collapse has nothing in it

Steps to reproduce: View an unpublished draft recall and click the S

[2021-10-13 14:52] XiuJuanXia opened #119 "Search: Incorrect tabbing order for the search page"
URL: https://hcdev.openplus.ca/en/search/site
User Agent: Chrome
Language: Both

Issue Description: When tabbing from the breadcrumb trail, the focus is sent to the right hand side filters. Users will have to tab through the filters and place their focus to the "Search" field which is located on the left. The tabbing order is from right to left which is not a logic tabbing order.
![image](https://

[2021-10-13 15:08] XiuJuanXia opened #120 "Search: The link text in the filters should be more descriptive"
URL: https://hcdev.openplus.ca/en/search/site
User Agent: Chrome
Language: Both

Issue Description: The link text in the filters should be more descriptive. For example, the first one is "Recall 2074 link". What is the 2074 for?
![image](https://user-images.githubusercontent.com/88776404/137160061-998a857b-9663-4f52-bf3d-ad067a0d284f.png)

Steps to reproduce: Visual check

Expected results: The li

[2021-10-13 15:12] echouin commented on #62
From OP: Fixed and will be part of my next merge request

[2021-10-13 15:19] ndolter opened #121 "Next and Previous buttons fail color contrast ratio"
URL: https://hcdev.openplus.ca/en/alert-recall/test-certain-happy-veggie-world-hearts-choices-and-vegefarm-brand-vegan-and-1
User Agent: Firefox 93.0
Language: Both

Issue Description: Non text content “arrow” image inside the previous, next icons fail contrast ratio at default and focused state against their adjacent colour, which is the icon background colour.
Default = #FF9261 (2.2:1)
Focused =

[2021-10-13 15:22] echouin commented on #108
@mmiron-HC from OP: we can't fix this one at this point. What's happening is slick, the module that does the slider, adds a tab index then WxT is adding the second one. We don't want to get into altering upstream code unless absolutely necessary and this issue is flagged as moderate.

[2021-10-13 15:24] echouin commented on #100
From OP: ﻿Fixed and will be part of next commit

[2021-10-13 15:25] echouin commented on #89
From OP:
All these things with revisions are from the diff module. We don't want to get into overriding upstream code unless absolutely necessary. I would like to have this issue closed for that reason.
﻿
﻿There are other issues with this module the accessibility team has found. If it is a priority, and if there is sprint time available, we can look at fixing the module and contributing the work b

[2021-10-13 15:34] XiuJuanXia opened #122 "Search: Buttons for removing filters should be labelled properly"
URL: https://hcdev.openplus.ca/en/search/site
User Agent: Chrome
Language: Both

Issue Description: The "Clear all" button has title attribute, hidden text and visual text for its label. Screen readers read it as "Remove Clear all button clear all filters". See code below:
`<a href="https://hcdev.openplus.ca/en/search/site" title="Clear all filters" class="btn btn-clear-all ndm-facet-button-close

[2021-10-13 15:34] ndolter commented on #103
Retested and the search results continue to be in English and for some reason there are a bunch of new issues on the page in step 1 that I don't think were there before.
Steps:
1. Visit https://hcdev.openplus.ca/fr/avis-rappel/information-pour-consommateurs-au-sujet-nouilles-marque-maggi-provenant-inde.  Some new issues on this page:  missing translations, text overlap, 2 date modified, search fil

[2021-10-13 15:40] davidgotlieb commented on #103
Hi @ndolter ,

I'm getting french results when I search., Although I do see the section headers on the filters on the right are in English so we'll look at that (unless those top two are the correct French and juts are the same word).

![image](https://user-images.githubusercontent.com/53194802/137167045-9c7a2031-8faf-4a05-bcf6-c1708a1102be.png)

[2021-10-13 15:53] XiuJuanXia opened #123 "Search: English text appears in the French result page"
URL: https://hcdev.openplus.ca/fr/avis-rappel/avis-rappel-aliments-allergene-rappel-certains-produits-vegetaliens-et-vegetariens
User Agent: Chrome
Language: French

Issue Description: There is English text appears in the French searching result page.
![image](https://user-images.githubusercontent.com/88776404/137168910-7b5fd77f-1572-4613-b9bf-27c547c21a98.png)

Steps to reproduce:

1. Navigate to

[2021-10-13 15:54] echouin commented on #103
@ndolter this is fixed for me as well?

[2021-10-13 16:29] davidgotlieb commented on #123
@XiuJuanXia These are brand names of products, so this is a data entry question not a system question. In this case Brands are usually unilingual, so you will have English brands on the French side.

[2021-10-13 16:40] XiuJuanXia commented on #123
@davidgotlieb Is it possible to add lang="en" for the English brand names of products that appear in the French side?

[2021-10-13 16:47] davidgotlieb commented on #123
@XiuJuanXia Definitely not in the title, we looked into that. No HTML code is allowed, it can break things elsewhere in Drupal and looks bad.

For the Brand, it's just a plain text field as well so if you include HTML it displays that code

[2021-10-13 17:10] XiuJuanXia commented on #123
@davidgotlieb Thanks for explanation. I also noticed that the alt attribute for the graphics are in English on the French page. Would it possible to add lang="en" for the graphics so that screen readers can read in English?

[2021-10-13 17:28] mmiron-HC commented on #123
@davidgotlieb This system, as I understand it, has a very high profile with high visibility. We need to ensure that everything is as accessible as possible. This is an open source platform, why do they not provide a solution rather than shutting it down?
This may seem like a banal issue, however it comes with a serious severity. This impacts all users and will cause confusion with people who have

[2021-10-13 17:40] davidgotlieb commented on #123
@mmiron-HC I'm sure they can change it, but we're at a point where we are prioritizing work. The simple solution, which would be to simply allow HTML in those fields, is a known problem that breaks systems. As a result, that won't work.

I suspect they would have to do some pretty major development to basically fix a known issue in Drupal. So yes, that can be done and would contribute to an improv

[2021-10-13 17:43] echouin commented on #104
@XiuJuanXia decision required. From OP:
<span aria-hidden="true" class="hidden"> (required)</span> is default Drupal code and we don't want to mess with it.
﻿
﻿Recommendations:
﻿
﻿1. Live with it. It's a moderate issue.
﻿2. We could remove (required) from the label, and have HTML at the top of the page that says "fields marked with an asterisk (*) are required.

Eric comment: I think Option 2 woul

[2021-10-13 17:46] davidgotlieb commented on #123
@XiuJuanXia I'm not sure I know what you mean about the alt attributes on the graphics? Could you perhaps do a separate item with screen caps so we can send it to OpenPlus?

[2021-10-13 18:05] ndolter commented on #103
I just looked at it again (Firefox ver 93.0) and although some of the translations are now there, the issues with the overlapping text and two modification dates are still present.
![image](https://user-images.githubusercontent.com/68117281/137188675-5eff6d42-3c02-4e51-b53c-2551099c175c.png)

Validated that the issue about entering text in the Search field on the French page now correctly takes th

[2021-10-13 18:11] echouin commented on #82
from OP: I would recommend closing this one. This is core Drupal behaviour. They are likely a list because there are other options (a list of options if you will) that are not being used in this application.﻿

[2021-10-13 18:13] davidgotlieb commented on #103
Thanks @ndolter The overlapping text is just because the image isn't there, which was explained in another ticket. That's just the reference for the database to pull the image once the system is updated. It won't show that way on the live server.

@echouin can you ask Craig about the double modification date? IT might just be wonky data in the existing system, in which case not much we can do, but

[2021-10-13 18:16] ndolter commented on #58
Re-tested and a couple of issues were noted:
1. The French email that is received upon submitting the request to reset your password has some text that needs corrected by adding spaces between words. Please see screen capture.
![image](https://user-images.githubusercontent.com/68117281/137154382-b3a59829-0e57-407e-8670-7786478400e5.png)
2. Upon clicking the link in the above email in step 1, there

[2021-10-13 18:35] XiuJuanXia opened #124 "Search: English alt attribute for graphics is read in French accent in the French page"
URL: https://hcdev.openplus.ca/fr/avis-rappel/avis-rappel-aliments-allergene-rappel-certains-produits-vegetaliens-et-vegetariens
User Agent: Chrome, JAWS, Firefox, NVDA
Language: French

Issue Description: The graphics has English alt attribute in this French page and the English text is read in French accent.
![image](https://user-images.githubusercontent.com/88776404/137192361-ad048940-746d-4ab6

[2021-10-13 18:35] XiuJuanXia commented on #123
@davidgotlieb A separate issue has been created https://github.com/mmiron-HC/WST-RSAMS/issues/124.

[2021-10-13 18:39] ndolter commented on #110
Validated that the button has been corrected, however there appears to be a minor typo on the French button label:  'sécurité' is listed on one button and 'sécurité**n**' (https://hcdev.openplus.ca/fr/avis-rappel/test-uat-rappel-plusieurs-lots-medicaments-contenant-irbesartan-du-losartan-et-du) on the other (https://hcdev.openplus.ca/fr)

![image](https://user-images.githubusercontent.com/68117281

[2021-10-13 18:44] davidgotlieb commented on #124
Thanks @XiuJuanXia This would be a data entry issue. This was just a test being done by one of the programs so they may not have dealt with the alt tags as they would in a real situation. For example, this is what they used on the current site:

Happy Veggie World - « Patty de poulet croustillant (viande simulée) » - 3 kilogrammes

[2021-10-13 18:44] ndolter commented on #102
Checked in Firefox 93 and Edge 94. English text is still displayed.
![image](https://user-images.githubusercontent.com/68117281/137194150-acc89937-5ea1-4e14-9ee4-f4d8f6043cdd.png)

[2021-10-13 18:44] echouin commented on #111
From OP: ﻿done and will be part of next commit

[2021-10-13 18:52] echouin commented on #124
Marked as resolved as this is a user-generated issue.

[2021-10-13 18:56] XiuJuanXia commented on #104
Yes. Option 2 would work. - I will have to take back my comments and need to discuss with the team to see if the option 2 is sufficient.

[2021-10-13 19:03] echouin commented on #45
From OP:  ﻿I'm recommending this for closure. It only affects the email field for logged in users. If it's a significant issue, we can move it to the parking lot and deal with it in a future sprint.﻿

[2021-10-13 19:14] echouin commented on #110
Sent back to OP

[2021-10-13 19:15] echouin commented on #102
Sent back to OP.

[2021-10-13 20:07] echouin commented on #121
Sent to OP

[2021-10-13 20:16] echouin commented on #117
Sent to OP

[2021-10-14 12:42] ndolter commented on #62
Validated the following in both languages:
1. The tooltip has been removed on the Search button
2. The field placement is now correctly aligned
3. The text in the field is no longer getting cut-off in French

[2021-10-14 12:42] #62 closed, assigned to mmiron-HC

[2021-10-14 12:45] echouin commented on #117
Completed

[2021-10-14 12:52] ndolter commented on #113
The skip links are no longer getting displayed when tabbing.

[2021-10-14 14:28] ndolter commented on #112
Validated that the button label has now been changed to Search / Recherche.

[2021-10-14 14:28] #112 closed, assigned to ndolter

[2021-10-14 14:29] echouin commented on #119
@XiuJuanXia ﻿Would it be acceptable to add a link at the top of the facets that would display the following on focus "skip facets and go to results"?﻿﻿﻿﻿

[2021-10-14 14:37] echouin commented on #122
@XiuJuanXia resolved.

[2021-10-14 14:51] echouin commented on #97
@mmiron-HC OP has indicated that this is now fixed :)

[2021-10-14 15:15] echouin commented on #106
@mmiron-HC This is a Drupal WxT issue. OP unable to fix at this time.

[2021-10-14 15:15] echouin commented on #69
@mmiron-HC This is a Drupal WxT issue. OP unable to fix at this time.

[2021-10-14 15:18] echouin commented on #105
@XiuJuanXia From OP: this is done.

[2021-10-14 15:19] echouin commented on #114
@XiuJuanXia From OP: "this is related to the Diff module. There isn't much we can do about it unless you want us to rewrite the module.﻿"

[2021-10-14 15:20] echouin commented on #115
@XiuJuanXia From OP: ﻿this is related to the Diff module. There isn't much we can do about it unless you want us to rewrite the module.

[2021-10-14 15:22] echouin commented on #40
As noted previously, this is an issue with the WxT of Drupal itself.

[2021-10-14 17:36] echouin commented on #50
@qanitah Hello, I will be marking this issue as resolved.

**From OP:** For this issue, this is coming from the user's browser. This is not from the site.

[2021-10-14 17:40] ndolter commented on #111
Validated in both languages in browsers: Chrome, Firefox and Edge, that items under “Additional information” now receive  keyboard focus when tabbing through.

[2021-10-14 17:40] #111 closed, assigned to sarasuri

[2021-10-14 18:33] echouin commented on #102
@ndolter OP confirms fixed.

[2021-10-14 18:34] ndolter commented on #99
Validated that the title attribute has been removed from the following pages based on the screen shots provided above:
- Log In
- Search
- Edit Alert / Recall test - Oct 14: Save, Cancel, Remove & Add row buttons (go to:  Admin side, under Dashboard, click the build button associated with the alert "test - Oct 14", then click the Edit button associated with each section. The add row button is unde

[2021-10-14 18:34] #99 closed, assigned to ndolter

[2021-10-14 18:36] echouin commented on #113
@sarasuri OP confirms fixed.

[2021-10-14 18:42] ndolter commented on #102
@echouin The label for the field is now entirely gone (both languages) and the field is skipped when tabbing through.
![image](https://user-images.githubusercontent.com/68117281/137376887-97e23bcf-e103-4b66-ba3a-c581eda498a0.png)

[2021-10-14 18:47] echouin commented on #102
@ndolter thank you, sending back to OP for fix :).

[2021-10-14 18:59] ndolter commented on #97
Validated in both French and English that the tooltip has been removed from the Submit button.

[2021-10-14 18:59] #97 closed, assigned to mmiron-HC

[2021-10-14 19:17] ndolter commented on #122
Validated that the screen reader (JAWS) now provides instructions on the various buttons and reads 'Remove filter for <button name>. To activate press enter.'

[2021-10-14 19:17] #122 closed, assigned to XiuJuanXia

[2021-10-14 19:22] ndolter commented on #109
Re-tested and the Report a problem does not appear to be updated yet.
![image](https://user-images.githubusercontent.com/68117281/137382161-d510f12a-6766-4949-9dc0-341208776f63.png)

[2021-10-14 19:28] ndolter commented on #101
Validated that the translations have been made
 https://hcdev.openplus.ca/fr/avis-rappel/test-rappel-certains-produits-vegetaliens-et-vegetariens-marque-happy-veggie-world

[2021-10-14 19:28] #101 closed, assigned to mmiron-HC, ndolter

[2021-10-14 19:33] echouin commented on #110
@ndolter OP confirms typ fixed.

[2021-10-14 19:36] ndolter commented on #110
Validated that the typo has been corrected.
![image](https://user-images.githubusercontent.com/68117281/137383903-73c5ed8e-7473-45f6-aa81-522b0035ffcf.png)

[2021-10-14 19:36] #110 closed, assigned to ndolter

[2021-10-14 19:40] echouin commented on #121
@ndolter OP indicates that this is fixed :)

[2021-10-14 19:41] echouin commented on #119
@XiuJuanXia OP is asking if you have an answer for the previous question?

[2021-10-14 19:44] echouin commented on #58
@ndolter note from OP: ﻿typos are fixed in French. As for changes to date format and button text, I would like to defer that to later. It looks like it isn't an issue so much as a recommendation.﻿

[2021-10-14 19:55] echouin commented on #109
Hi @ndolter this is not an accessibility issue, so it has been closed on the OP side.

[2021-10-15 11:26] XiuJuanXia commented on #119
@echouin after reviewing the code, adding a link at the top of the facets won't change the focus order.

The page is divided into two columns: searching results column and filters column. If turn off all the styles of the page, the filters column appears before the searching results column. Reviewing the code, class "pull-right" makes the filters column on the right and class="pull-left" makes the

[2021-10-15 13:51] ndolter commented on #121
Validated that the color contrast now passes.

[2021-10-15 13:51] #121 closed, assigned to ndolter

[2021-10-15 14:10] ndolter commented on #57
Validated that the screen reader is now reading 'Getting started current page link'.

[2021-10-15 14:10] #57 closed, assigned to XiuJuanXia

[2021-10-15 14:17] XiuJuanXia commented on #107
Issue is fixed. Closing this issue.

[2021-10-15 14:17] #107 closed, assigned to XiuJuanXia

[2021-10-15 14:19] XiuJuanXia commented on #117
autocomplete="email" is applied to the email address input field. Closing this issue.

[2021-10-15 14:19] #117 closed, assigned to XiuJuanXia

[2021-10-15 14:26] ndolter commented on #120
Validated in both languages that the screen reader now reads 'Recall, 2077 results available link'

[2021-10-15 14:26] #120 closed, assigned to XiuJuanXia

[2021-10-15 14:57] XiuJuanXia commented on #124
@echouin, I am curious that would users know they should upload French images with French alt attribute on the French page?

[2021-10-15 15:33] ndolter commented on #113
Validate that the 'Skip to "About government" link has now been corrected in both languages, however, noted that the French page 'Aller au contenu principal' skip link does not match to that of the Canada.ca template which is 'Passer au contenu principal'.
![image](https://user-images.githubusercontent.com/68117281/137513711-0c48d6a9-9e3f-4d70-b450-8df14a2938bb.png)

[2021-10-15 15:44] echouin commented on #102
@ndolter OP confirms fixed. Additional notes from OP:

it is designed this way. The label was always supposed to be visually hidden, it was an update that made it visible. It is there in code for screen readers
﻿---﻿
<label class="sr-only control-label" for="edit-search-api-fulltext--2">Recherche</label>

﻿---

Tab issue is resolved.

[2021-10-15 15:48] echouin commented on #124
Hello @XiuJuanXia When uploading an image to the CMS website, the images will most likely be unilingual (or whatever they are using). However, they will be unable to upload the image w/o inputting alt text.

[2021-10-15 15:54] XiuJuanXia commented on #124
@echouin So they don't have ability to enter the alt text?

[2021-10-15 16:04] echouin commented on #124
@XiuJuanXia no, they have the ability to enter alt text in EN. Then when they switch over to FR, they would have the ability to enter the alt tags. I will check w/ OP and get back to you.

[2021-10-15 16:16] sarasuri commented on #104
@echouin
Required form fields are identified with red asterisks. However, the asterisks are added to field’s label using CSS styles and when the page is viewed disabling the CSS styles, the asterisks are not available. This is a failure under WCAG SC 1.3.1 Info and Relationships   (https://www.w3.org/TR/2016/NOTE-WCAG20-TECHS-20161007/F87).

As per comment above, if the (required) is default Drupa

[2021-10-15 16:16] ndolter opened #125 "Edge: button functionality is lost when increasing screen size to 200%"
URL: Any page
User Agent: Edge
Language: Both

Issue Description: In Edge, when the screen is zoomed to 200% some buttons lose their functionality when trying to access them via the mouse.

Steps to reproduce:
1.  From Edge, select the ellipsis in the top right hand corner and change Zoom to 200%
2. Click on the 'Report a problem or mistake on this page' button
3. Using the mouse, click on the 'Sh

[2021-10-15 16:22] echouin commented on #16
Hello @mmiron-HC I believe that this has been addressed. Please see the subscription page: https://hcdev.openplus.ca/en/form/subscribe

[2021-10-15 16:56] mmiron-HC commented on #16
@echouin no it hasn't.

[2021-10-15 18:07] ndolter commented on #100
Validated that the color contrast now passes.

[2021-10-15 18:07] #100 closed, assigned to qanitah

[2021-10-15 18:12] echouin commented on #125
@ndolter from OP (a video is also included at the link):

I was unable to duplicate this problem. I followed the steps above and it worked for me, using Edge on Windows 10, 2015 surface pro.
﻿
﻿see attached﻿﻿ video: https://openplus.monday.com/boards/947494094/views/35132233/pulses/1793938687/posts/1198054701#:~:text=attached%EF%BB%BF%EF%BB%BFscreen-recorder-fri-oct-15-2021-13-01-59.webm

﻿downloa

[2021-10-15 18:18] echouin commented on #113
@ndolter From OP:
I'm not seeing this

﻿on ﻿https://www.canada.ca/fr/gouvernement/a-propos/systeme-conception.html﻿ I see
﻿﻿<a class="wb-sl" href="#wb-info">Passer à « Au sujet du gouvernement »</a>

﻿and on ﻿https://hcdev.openplus.ca/fr﻿ I see
﻿﻿<a class="wb-sl" href="#wb-info">Passer à « Au sujet du gouvernement »</a>

[2021-10-15 18:19] ndolter commented on #125
@echouin , I'm running Edge ver 94.0 in Win 10.  My co-worker Saratha also has the same issue as me.

[2021-10-15 18:23] echouin commented on #103
@ndolter Issue noted to OP. They have asked that it be moved to our issue queue as it is not accessibility. Recommend this item be closed.

[2021-10-15 19:06] echouin commented on #125
@ndolter from OP:
I can't duplicate this issue in a real world situation.
1. I tried windows 10 edge 94 on surface pro > success (as per the video I sent)
2. I tried widnows 10, edge 94 desktop > success
3. I tried edge 94 on OSX > success
3. I tried an emulator at saucelabs and was able to duplicate the problem there, this isn't a real world situation though

I'm really not sure how to proceed wi

[2021-10-15 19:06] echouin commented on #125
@ndolter please let me know next steps?

[2021-10-15 19:13] echouin commented on #124
@XiuJuanXia From OP: this is Drupal behaviour, by default, you can't specify a language on an image upload field. I would imagine it's pretty edge case as well. In this instance it's english for testing. I would imagine that the alt text would always be in French, since alt text's job is to describe the image.

[2021-10-15 19:16] ndolter opened #126 "Consumer product recall has text missing to identify the purpose of the section"
URL: https://hcdev.openplus.ca/en/alert-recall/test-alert-oct-13-new-recall
User Agent: Chrome 94.0
Language: Both

Issue Description:  The section underneath 'What to do' is missing text to provide the user with the purpose of the section.  I think it's meant to be 'Audience'.

Steps to reproduce: Visually scan the page using the url provided above.
![image](https://user-images.githubusercontent.

[2021-10-15 19:38] ndolter opened #127 "Consumer product recall: Translation required on Category value"
URL: https://hcdev.openplus.ca/fr/avis-rappel/test-alert-oct-13-new-recall
User Agent: Chrome
Language: French

Issue Description: There is a typo with the category 'Vehicles'.  According to Google Translate it should be 'Véhicule', but am not sure how reliable a source this is.

Steps to reproduce:
1. Using the url provided above, expand the 'Détail' section under 'Renseignements supplémentaires'

[2021-10-15 19:43] echouin commented on #96
From OP:

﻿I can't duplicate this. The screenshot below is Firefox 92.0 in an windows 10 emulator and it looks ok

![image](https://user-images.githubusercontent.com/88099454/137544860-e6183584-59f9-4b26-bf45-e9970c280146.png)

[2021-10-15 20:08] echouin commented on #127
@ndolter fixed.

[2021-10-15 20:09] echouin commented on #16
@mmiron-HC fixed.

[2021-10-15 21:15] sarasuri opened #128 "Food recall warning: Issue accessing the content under "Additional information" with screen reader"
URL: https://hcdev.openplus.ca/en/alert-recall/test-certain-happy-veggie-world-hearts-choices-and-vegefarm-brand-vegan-and-0
User Agent: Chrome (v94), Firefox (v92)
Language: English and French
Tool: JAWS 2020

Issue Description:
There are some issues with the content provided below “Additional information”. When testing with JAWS, it doesn’t identify the label of each tab or when activating the t

[2021-10-18 10:59] mmiron-HC commented on #125
@echouin we do not have access to Monday.com.
Without access to the RSAMS space we can no longer validate.

[2021-10-18 11:38] mmiron-HC commented on #58
@echouin  the problem with the wording "This button" is that it doesn't explain what button you are referencing.  This is not fixed and will stay like that until this has been addressed.

[2021-10-18 12:30] echouin commented on #118
@mmiron-HC OP unable to duplicate error?

[2021-10-18 12:33] echouin commented on #126
@ndolter Quick note on this: The way the "Who is this for" is supposed to work is that it should only appear in the summary if "General Public" is Not selected. In that case it's used to help the public know that this recall isn't targeted at them.

[2021-10-18 12:39] echouin commented on #125
@mmiron-HC sent video from OP to your work email.

[2021-10-18 13:16] echouin commented on #58
@mmiron-HC @ndolter from OP:
I still can't duplicate this, also using edge 94 (see above). I need more information.
1. what operating system?
2. are they using any sort of emulator?
3. what screen size is it happening at?

This is a public facing issue. They will be able to test.

[2021-10-18 13:17] echouin commented on #104
@sarasuri @mmiron-HC from OP: Done.

[2021-10-18 14:16] echouin commented on #109
@ndolter Additional details: we will look to implementing this revision post-MVP.

[2021-10-19 13:14] echouin commented on #128
Fixed.

[2021-10-19 17:45] echouin commented on #126
From OP: Completed.

[2021-10-20 14:06] echouin commented on #119
@XiuJuanXia from OP:
"Right now this structure is the as what is used on GOC topic pages. For example, this one from revenue Canada. https://www.canada.ca/en/services/taxes.html.

It is important to keep the focus order the way it is because you don't want people to have to tab through all the content to get to the facets.

if you move the facets to the left, the tab order matches visual order, bu

[2021-10-26 13:17] mmiron-HC commented on #124
This is a non issue. If the users are responsible to upload images in both languages and enter alternative text to accompany the images, we will close this.

[2021-10-26 13:17] #124 closed, assigned to echouin, XiuJuanXia

[2021-10-26 13:20] mmiron-HC commented on #113
@echouin this is still an issue. the french has the word Aller instead of passer
![image](https://user-images.githubusercontent.com/65728700/138887247-ed30d93d-6b1f-4c71-9224-44f2e8ed658f.png)

[2021-10-26 15:00] echouin commented on #113
@mmiron-HC requested OP fix.

[2021-10-26 16:42] mmiron-HC commented on #102
@echouin while the label doesn't need to be visible. they should make the label visible as the "Search" button is not position right after the text field. There is a checkbox with long label in between the text field and button.
![image](https://user-images.githubusercontent.com/65728700/138923591-6f26c15a-1cd0-48fe-9537-d18b69693672.png)

[2021-10-26 16:47] mmiron-HC commented on #128
fixed. No longer tabs

[2021-10-26 16:47] #128 closed, assigned to sarasuri

[2021-10-26 17:37] echouin commented on #102
@mmiron-HC back w/ OP

[2021-10-26 17:38] ndolter commented on #103
Spot checked a few pages and the 2 modification dates and overlapping text is no longer an issue, however the Search page no longer has a Date modified.  While it isn't a WCAG issue, it is something that we as a Web standards team are mandated to check and it must pass as well.
https://hcdev.openplus.ca/fr/recherche/site?search_api_fulltext=test&op=
![image](https://user-images.githubusercontent.c

[2021-10-26 18:00] echouin commented on #103
@ndolter sent back to OP

[2021-10-26 18:33] echouin commented on #102
From OP: This will require a template change. This issue has morphed from its original ID'd error.

[2021-10-26 20:14] sarasuri commented on #50
We understand these error messages are generated from the browser when leaving the required fields empty. However, when entering invalid input in those fields custom error validation is provided. For example, on the Login page,

![image](https://user-images.githubusercontent.com/12256067/138953124-62f18ec4-4842-415b-8674-c024b6889938.png)

We think we shouldn’t rely on the browser generated error

[2021-10-27 12:53] echouin commented on #50
@sarasuri Sent to OP.

[2021-11-03 13:24] ndolter opened #129 "Log in: "Required" text needs to be part of the label for required form fields"
URL: https://hcdev.openplus.ca/en/user/login
User Agent: Chrome (v95)
Language: Both

Issue Description: Required form fields "Username" and "Password" with red asterisk (*) when passed through CSS don't have "Required" text in the label.  Additionally, although not a WCAG failure, the placement of the asterisk is typically situated before the label as a best practice for scan ability.

Steps to r

[2021-11-12 19:26] davidgotlieb commented on #116
Working correctly on the live site now

[2021-11-12 19:30] davidgotlieb commented on #116
Fixed on live site

[2021-11-12 19:31] davidgotlieb commented on #86
Fixed on live site

[2021-11-23 21:11] echouin commented on #59
@XiuJuanXia all italics removed from Help Guide.

[2021-11-25 16:19] echouin commented on #119
@XiuJuanXia is this now verified/resolved?

[2021-11-25 16:24] echouin commented on #125
@mmiron-HC this is a public-facing issue. Can you please verify?

OP is unable to verify the issue/error.

[2021-11-25 16:30] echouin commented on #103
@ndolter can you please confirm what is needed for WCAG? It appears as though additional items have been added?
If the primary WCAG issue is resolved, this item should be closed.

Thank you,

[2022-01-05 13:34] echouin commented on #129
Completed in both EN & FR:
﻿﻿https://rsams.prod.cloud.openplus.ca/en/user/login﻿
﻿﻿https://rsams.prod.cloud.openplus.ca/fr/user/login﻿

[2022-01-05 14:23] davidgotlieb commented on #115
Modified the instructions

[2022-01-05 14:55] echouin commented on #79
Updated in Help Guide.
EN follows the format Long Form (Acronym).
however, in FR I mofified to the following:
Acronym (long form EN: translated terminology FR) for clarify as the terms are EN only.

[2022-01-05 14:56] echouin commented on #83
All updates made in current HELP GUIDE. Also fixed FR links.

[2022-01-05 15:00] echouin commented on #78
Fixed:
![image](https://user-images.githubusercontent.com/88099454/148239126-650c6379-1102-4532-b497-73e4c970779b.png)

[2022-01-05 15:06] echouin commented on #77
Fixed in final version.

![image](https://user-images.githubusercontent.com/88099454/148240090-3dc920e6-1d40-4449-942e-2d3cef7e1df0.png)

![image](https://user-images.githubusercontent.com/88099454/148240111-851472f1-b4d9-4c07-a41a-a0d9ed98ff2d.png)

[2022-01-05 15:14] echouin commented on #76
Corrected in EN (and in FR):
![image](https://user-images.githubusercontent.com/88099454/148241294-bfbf1f2d-92b7-4c89-8faf-e7908ff0b39b.png)

[2022-01-05 15:27] echouin commented on #74
﻿Fixed. Modified both image texts for clarify:
﻿Image # 1 (new text): ﻿﻿Top right notification that the content is locked to another user.

FR: no mod needed.

﻿Image # 2 ﻿(new text): ﻿Top right button is "lock and edit" which indicates that the content is unlocked and available for editing.

﻿FR (small mod - bolded): ﻿Capture d’écran montrant l’indicateur en haut à droite qui montre que le conten

[2022-01-05 16:25] echouin commented on #72
Modified the two item list using the WYSIWYG editor ordered list button in both EN & FR. Verified Source code and it appears fine now.

[2022-01-05 16:56] echouin commented on #56
﻿Fixed. Notes:

EN: Updated information on title page.﻿﻿

Removed CMS from title.

"Manual" to "Guide".
﻿Added RSA acronym after spelling it out.
﻿FR (no changes required).

![image](https://user-images.githubusercontent.com/88099454/148257170-b11bbadf-14fe-4c58-98e9-6a6230a908f3.png)

[2022-01-05 17:11] echouin commented on #47
This was fixed by ﻿OP in the final build.
﻿Departmental Admin view (editing an account profile):

![image](https://user-images.githubusercontent.com/88099454/148259385-1c719155-aeb9-439d-8614-4dbd51073f56.png)

[2022-01-06 13:47] echouin commented on #71
Currently, we are unable to add Anchors via the Drupal WYSIWYG.
I have modified the direct link to go to the "editing your profile" section (which is more relevant to the bullet). This resolves the issue.

EN:
![image](https://user-images.githubusercontent.com/88099454/148392438-3601498e-974c-4085-b060-aefa3860c1d2.png)
FR:
![image](https://user-images.githubusercontent.com/88099454/148392500-5584

[2022-01-06 13:52] echouin commented on #113
This is now resolved:
![image](https://user-images.githubusercontent.com/88099454/148393073-c4fb2a2c-759e-4d13-b7f9-ada2662974e0.png)

[2022-01-06 13:57] echouin commented on #58
@mmiron-HC This was fixed in October with the correct wording.

[2022-01-06 14:09] echouin commented on #43
@mmiron-HC from OP: tooltips was removed. This is now resolved.

[2022-01-06 14:14] echouin commented on #109
@mmiron-HC The final release has the following to meet the needs of our users in reporting website issues:
![image](https://user-images.githubusercontent.com/88099454/148396194-d6697f63-3b36-4dfc-bba0-0e3a36f273e8.png)

[2022-01-06 14:16] echouin commented on #108
@sarasuri from OP: Issue has been resolved and can no longer replicate.

[2022-01-06 14:26] echouin commented on #102
@ndolter & @mmiron-HC this is resolved on the current website. The UX thinking is (from OP): You have keywords followed by a prompt to include archived or not. I think this is logically how users would use that form, "I want to find 'xxxx', and I want to include archived recalls".

Here is the current look & feel on the live website (also verified tabbing order and it is working as intended):

![i

[2022-01-06 14:32] echouin commented on #69
@mmiron-HC looks like this item is now fixed in Drupal Wxt: On branch 9.1.x the issue from this ticket is not occurring, think we can close this ticket.

[2022-01-06 15:32] echouin commented on #84
This is a Drupal WxT issue, OP is still currently awaiting a fix: ﻿Issue reported to project maintainer/ community here - ﻿https://www.drupal.org/project/diff/issues/3253722

[2022-01-06 19:39] echouin commented on #37
This is now marked as Resolved for the following reasons:
1. Safari iOS is not supported for login.
2. No RSA CMS users should be using a smartphone device to login to the RSA CMS to add/update alerts/recalls to the system.
2. The RSA CMS login page is for RSA CMS users only and is not intended to be used by the general public.

[2022-02-08 20:08] echouin commented on #21
@hydegeoff OP has confirmed that "Tool tips were disabled before MVP launch as part of initial A11y testing"

This is issue is now considered resolved.

[2022-02-08 20:35] echouin commented on #29
@mmiron-HC from OP: "This is core functionality. It isn't an issue in WCAG, more of a cognitive issue related to UX. I'm recommending this for closure.﻿﻿"
I have marked this as resolved.

[2022-02-08 20:52] echouin commented on #54
@qanitah this is now resolved. Tab order is working correctly.

[2022-02-08 20:54] echouin commented on #53
@qanitah ﻿this has been reported, it's an issue with the module ﻿https://www.drupal.org/project/shs/issues/3106568. We will mark this as something to revisit once the module has been updated.

[2022-02-28 21:24] davidgotlieb commented on #34
Reported to maintainer of the module to be fixed

[2022-02-28 21:30] davidgotlieb commented on #6
This is behaving as expected.

This button controls the secondary menu, and does not redirect to any pages. It is only highlighted when the secondary menu is active (as seen in your screenshot), and is black when the secondary menu (Help, Log out, Edit profile, Dashboard) is not displayed.

[2022-02-28 21:33] davidgotlieb commented on #13
Resolved - Titles changed

[2022-02-28 21:37] davidgotlieb commented on #25
Unable to reproduce as of Mid Jan, may have been fixed with other issues that were resolved.

[2022-02-28 21:41] davidgotlieb commented on #26
The only error reported is `autocorrect=none' on the form field.
﻿If we remove this it could have negative consequences on other fields. The reason it is on the login page is so that autocorrect does not try to fix names. IE Trying to turn Craig into Crag.
﻿
﻿The rest are all warnings for minor things.

[2022-02-28 21:50] davidgotlieb commented on #36
Resolved as part of WxT update

[2022-02-28 21:54] davidgotlieb commented on #42
Could not duplicate, likely fixed with broader WxT update

[2022-02-28 22:00] davidgotlieb commented on #31
Could not duplicate, may have been fixed with WxT update

[2022-02-28 22:03] davidgotlieb commented on #33
Reported to maintainer of module

[2022-02-28 22:04] davidgotlieb commented on #35
Tooltips are turned off, no longer able to duplicate

[2022-02-28 22:26] davidgotlieb commented on #46
Resolved

[2022-02-28 22:39] davidgotlieb commented on #87
OpenPlus has reported the issue to the owner of the module.

[2022-02-28 22:40] davidgotlieb commented on #90
OpenPlus has reported the issue to the owner of the module

[2022-02-28 22:43] davidgotlieb commented on #106
Should be resolved with the fix that was implemented for 105

[2022-03-01 22:03] davidgotlieb commented on #129
From OP:
﻿this is Drupal core functionality and has been thoroughly tested.
﻿The field has an attribute of required and aria is set to required. A screen reader can definitely tell that these fields are required.

[2022-03-01 22:06] davidgotlieb commented on #68
Button moved over in smaller screens to no longer overlap

[2022-03-01 22:15] davidgotlieb commented on #45
Amount of work to fix this would be massive, as we would have to completely rework how Drupal does error handling. Exploring if this is something we can report to WxT or Drupal core to replace browser error handling with templated error handling from Drupal.

[2022-03-10 15:40] echouin commented on #84
From OP: Resolved. On Dev to test. Should be on latest release and live on Public site on 12 Mar 2022.

[2022-03-10 15:41] echouin commented on #45
From OP: Resolved. On Dev to test. Should be on latest release and live on Public site on 12 Mar 2022.

[2022-03-10 15:45] echouin commented on #25
From OP (09 Mar 22):

- Attempted to use android emulators but I was unable to find one that had the TalkBack feature. I was able to briefly borrow a Samsung Galaxy, after placing cursor on the title and swiping it announced ﻿login active tab link, reset your password, username, and password.
- We were unable to duplicate the problem. As per our findings, it worked when he tried it on an android p

[2022-03-10 15:47] echouin commented on #32
This is a Drupal Core issue and is out of scope for OP.
From OP:
After investigation, found that this problem derived from the core toolbar module. I did not need to open a Drupal.org ticket because this has already been flagged as major in the issue queue.
﻿﻿https://www.drupal.org/project/drupal/issues/3085781﻿
﻿
﻿There is also a larger thread focused on accessibility that may be of interest.
﻿
﻿

[2022-03-10 16:12] echouin commented on #64
@XiuJuanXia this is completed. It is currently on Dev and will be on live version of website (12 Mar 22):
![Home (3) - Copy](https://user-images.githubusercontent.com/88099454/157706058-43138f8e-d603-4a25-954a-e06e51a98f0b.png)
![home2 (2) - Copy](https://user-images.githubusercontent.com/88099454/157706061-2566a57d-141c-4d42-815f-6e1ad96d8931.png)

[2022-03-10 18:09] echouin commented on #52
From OP: ﻿the errors have been updated . For comparison, here is as screenshot .

![image](https://user-images.githubusercontent.com/88099454/157727515-b669b71f-d1b2-4551-9b76-c6ad3f4675c2.png)

[2022-03-10 18:10] echouin commented on #17
From OP: This now passes contrast
![image](https://user-images.githubusercontent.com/88099454/157727676-0b99331c-fc9d-46e8-86cb-37d7477e416b.png)

[2022-03-10 18:14] echouin commented on #5
From OP: This one is done and can be seen on ﻿the live website. Increased the white colour for the hover so that the contrast is in line with the proper ratios
![MenuContrast (3)](https://user-images.githubusercontent.com/88099454/157729168-2d16df52-2641-4064-9239-0ef8d574d478.png)
.

[2022-03-11 16:12] XiuJuanXia commented on #119
This structure is the same as [CDTS](https://cenw-wscoe.github.io/sgdc-cdts/docs/index-en.html) page. Closing this issue.

[2022-03-11 16:12] #119 closed, assigned to XiuJuanXia

[2022-03-11 16:31] XiuJuanXia commented on #116
Issue no longer exists as the Francais link is removed from the revision tab. Closing this issue.

[2022-03-11 16:31] #116 closed, assigned to XiuJuanXia

[2022-03-11 17:57] XiuJuanXia commented on #115
There is a minor issue in the modified instructions:

Use the radio buttons in the table below to select two revisions to compare. Then click the "Compare selected revisions" button to generate the comparison.

The Word "click" should be avoided. Perhaps use word "activate" for buttons.

[2022-03-11 18:23] XiuJuanXia commented on #114
Issue still exists. See screenshot below:
![image](https://user-images.githubusercontent.com/88776404/157927901-1fb49bae-74c1-462c-bb3e-1c75c3bbb19a.png)

[2022-03-11 19:01] echouin commented on #115
@XiuJuanXia Can you give me the link to where you see this?

[2022-03-11 19:05] XiuJuanXia commented on #115
@echouin, here is the link: https://rsams.dev.cloud.openplus.ca/en/node/64010/revisions

[2022-03-11 20:01] echouin commented on #114
This is an issue that was reported on the Drupal Module. OP Reported the issue and provided a fix. From our point of view, this is resolved.

From OP: A report was made to the module maintainer. ﻿Furthermore, I am seeing the fix that I proposed in the link above in production right now:

![image](https://user-images.githubusercontent.com/88099454/157950285-0fb71620-4c17-44ea-9ff8-081b7b54b3cf.png)

[2022-03-14 11:58] mmiron-HC commented on #114
@echouin As Xiu explained, this is still a failure. If this is out of your control, this will need to be identified as a product limitation until they fix it. If you agree, please tag this issue as Drupal limitation

[2022-03-14 12:26] echouin commented on #114
@mmiron-HC we tagged it as "Reported" as the Node Fix was reported to Drupal.

[2022-03-14 12:28] mmiron-HC commented on #87
@davidgotlieb  This has not been resolved. The issues still persists. if this is a Drupal limitation, please tag it as such but this needs to stay as not fixed.

[2022-03-14 18:29] echouin commented on #115
@XiuJuanXia
OpenPlus has reported the issue to Drupal: ﻿https://www.drupal.org/project/diff/issues/3269171. Updated the entry.

[2022-03-17 14:03] ndolter commented on #125
Validated in French and English and this has now been resolved.

[2022-03-17 16:02] mmiron-HC commented on #113
Validated that both the French and English pages have the correct text.

[2022-03-17 17:10] ndolter commented on #113
Validated that both the French and English pages have the correct text.

[2022-03-17 17:10] #113 closed, assigned to sarasuri

[2022-03-17 17:12] ndolter commented on #109
Closing as this is no longer an issue.

[2022-03-17 17:12] #109 closed, assigned to ndolter

[2022-03-17 17:55] ndolter commented on #103
Validated that the Date modified issue has now been resolved.  Search results are displayed correctly in French.

[2022-03-17 17:55] #103 closed, assigned to qanitah, ndolter

[2022-03-17 19:45] ndolter commented on #123
Closing the ticket as it is no longer an issue.  Unable to see the sub-title as seen in the 1st screenshot above.

[2022-03-17 19:45] #123 closed, assigned to XiuJuanXia

[2022-03-17 19:47] ndolter commented on #125
Re-opening as the issue with the inability to use the mouse in Edge zoomed into 200% is an issue today.  Our other tester Xiu experienced the same thing.  The video I took is too large to attach here.  If required, please let me know and I'll see what else I can do to illustrate the issue.

[2022-03-17 19:55] echouin commented on #125
Hi Manon,

I noticed that I’ve been added to this one again.

I had attached the Video that OP provided.

Thank you,

Eric

From: Chouinard, Eric (HC/SC)
Sent: 2021-10-18 8:38 AM
To: mmiron-HC/WST-RSAMS ***@***.***>; mmiron-HC/WST-RSAMS ***@***.***>
Cc: Mention ***@***.***>
Subject: RE: [mmiron-HC/WST-RSAMS] Edge: button functionality is lost when increasing screen size to 200% (#125)

Hello Manon

[2022-03-17 20:18] davidgotlieb commented on #125
Is there a specific page where this is happening @ndolter . I can't replicate the issue in Edge either, it's working fine for me.

Perhaps hopping on a Teams meeting where we can share screens would help figure out the problem?

[2022-03-18 15:08] ndolter commented on #125
Hi @davidgotlieb, the page link is https://recalls-rappels.canada.ca/en.  Manon sent the video  to you and Eric via MS Teams.

[2022-03-18 16:06] hydegeoff commented on #126
Note: exact article no longer exists.  Similar found.  Tested in PROD.

"Audience:" has been added to section title.  ticket closed.

[2022-03-18 16:47] #126 closed, assigned to nobody

[2022-03-18 17:47] ndolter opened #130 "When page is reflowed content is not fully visible"
URL:  https://recalls-rappels.canada.ca/fr/avis-rappel/rappel-certains-produits-vegetaliens-et-vegetariens-marque-happy-veggie-world-hearts
User Agent: Chrome v98
Language: English & French

Issue Description: When the content is reflowed, some content is not fully visible and there is overlap.

Steps to reproduce:
1. Navigate to the url above.  Or Page name for the test is: 'Certain Happy Veggie

[2022-03-18 17:53] ndolter commented on #130
Page name for the test is: 'Certain Happy Veggie World, Hearts Choices, and Vegefarm brand vegan and vegetarian products recalled due to undeclared egg' in case it needs to be searched on for next test.

[2022-03-18 19:47] hydegeoff commented on #108
Failed.  I have to press the tab-key twice when going from one product image to the next.  I should only need to do it once.
If the previous arrow button is active the cursor will not navigate to it.

Here is an example article:
https://recalls-rappels.canada.ca/en/alert-recall/certain-stellar-bay-shellfish-brand-oysters-recalled-due-norovirus

[2022-03-18 19:48] ndolter opened #131 "The "title" attributes don't provide additional info for the image links"
URL:  https://recalls-rappels.canada.ca/fr/avis-rappel/rappel-certains-produits-vegetaliens-et-vegetariens-marque-happy-veggie-world-hearts
User Agent: Chrome v98
Language: English & French

Issue Description:
1. The "title" attribute should be removed from the image links as there is an alt attribute.  The title name provides no meaning to the user.
2. On the French page the alt attribute is bili

[2022-03-21 13:02] davidgotlieb commented on #130
This is actually a bug. Have reported it so it can be fixed. It relates to old migrated content not displaying properly. It shouldn't be in two columns at the top like that.

[2022-03-21 13:05] echouin commented on #131
@mmiron-HC, similar to what was noted for #130 by @davidgotlieb it is an issue with our older migrated content.

From OP:

﻿That is migrated content. That was all brought in 'as is'. If you want to fix it, the best way is to build a modern recall with the information.
﻿
There is a lot in bad html in the migrated content, other than manually fixing it, there isn't much that can be done with the mar

[2022-03-21 13:15] mmiron-HC commented on #131
@echouin This should not need a modern recall to be built. Isn't this just a DB clean up? The title isn't a required field. Therefore, should you not be able to run a clean up script to remove the titles from the images? Also, who is training the users when they are entering alternative text? They should tell them NOT to use the title field.

[2022-03-21 13:18] davidgotlieb commented on #131
@mmiron-HC They aren't provided the option to add a title in the new system when they do bulk upload, so it shouldn't be a problem for new recalls.

Quality of old data is not something we are touching as part of this project. We have 19000 recalls, and frankly none of it was accessible or coded properly. If we try to tackle that we will be spending another 4 years just cleaning up the old recalls

[2022-03-21 13:24] mmiron-HC commented on #131
@echouin If they are creating new recalls with titles that are redundant to the alternative text this is still going to fail. There is no reason to need a title element on the image.
as for the older recalls, we will make a note to management that the older information may not be fully accessible. They will have to decide what they want to do with it.

[2022-03-21 13:29] davidgotlieb commented on #131
@mmiron-HC There's no opportunity to add a title to the image on new recalls so they won't be redundant.

Here's the image element from a new recall:

img class="media__image media__element lazy img-responsive" src="/sites/default/files/styles/x_large/public/alert/recall/64006/Stellar%20Bay%20Shellfish%20-%20Oyster%2C%20Kusshi%20Large%20-%20March%207%20Harvest%20Date%20Tag_0.jpg?itok=uWwD7UO0" wid

[2022-03-21 13:31] davidgotlieb commented on #131
As far as training people on Alt text quality etc, it's not a bad idea and we can definitely look into it. It's not something specific to this project as it would have been a problem with the old system as well, but it's something that makes sense as a way to improve the quality of data.

[2022-03-21 13:35] mmiron-HC commented on #131
@davidgotlieb re: alt text. This is a must. They cannot be adding French/English alternatives to images, this fails under 3.1.2 and is considered a serious issue.
As for the title element, they can enter the title on a recall when they upload an image see screenshots.
![image](https://user-images.githubusercontent.com/65728700/159272036-97873122-3764-4676-ad63-38149fa1af7d.png)
![image](https://us

[2022-03-21 13:42] davidgotlieb commented on #131
@mmiron-HC They are definitly aware of the need to add an alt tag in the language of the page, that's always been a requirement. We've also purchased SiteImprove for the site so we can monitor for these types of issues as well.

Re: Title tag, my bad. I forgot it was there. It is optional and I doubt anyone is using it to be honest, it's just something that's built into the feature.

[2022-03-21 13:47] mmiron-HC commented on #131
@davidgotlieb SiteImprove will not catch issues with the alternative text content. It will just identify images that have missing alt tags and since you've made the alternative text fields mandatory, Site Improve will never flag these as a problem.

[2022-03-21 13:58] hydegeoff opened #132 "Alert articles-Unable to find cursor when it is on product images"
Issue Description:
Unable to see the cursor when focus indicator is on the product images.  This makes difficult for sighted keyboard users to know where cursor is location.  The reason the user knows its on a link is because the link appears in bottom of the browser window.

Impact:  It also affects other notifications/alerts if product images exist.

Location:  https://recalls-rappels.canada.ca/

[2022-03-21 14:54] echouin commented on #108
@hydegeoff I noticed this was closed?

[2022-03-21 17:32] hydegeoff commented on #108
Clicked the wrong button

[2022-03-21 18:00] hydegeoff opened #133 "Image links does not tell users that the link is used to view larger pictures of the product"
Image links does not tell users that the link is used to view larger pictures of the product

Users need to know what the links are directed to, and in the case of non-visual user, they less likely to activate these links.  This means they need to know where links are going to first.

Impact:  It also affects other notifications/alerts if product image(s) exist.

Location:  https://recalls-rappels

[2022-03-21 18:37] ndolter commented on #102
This issue has now been resolved.

[2022-03-21 18:37] #102 closed, assigned to ndolter

[2022-03-21 18:59] ndolter opened #134 "Decorative image does not require the title attribute"
URL: https://recalls-rappels.canada.ca/fr/avis-rappel/rappel-certains-produits-vegetaliens-et-vegetariens-marque-happy-veggie-world-hearts
User Agent: Chrome v98
Language: English & French

Issue Description: The fork and knife image are decorative and do not require a title attribute.  The current title attribute does not provide any meaning to screen reader users.  It adds no value considering t

[2022-03-21 19:51] ndolter commented on #105
Link used: https://rsams.dev.cloud.openplus.ca/en/form/subscribe
This is still an issue in both French and English as the error messages are not handles the same as in WET.  For example:
1. The Error message Summary box does not receive focus
2. No links are provided on each of the error messages within the Summary box so that the user can navigate to the field to make corrections
3. The heading '

[2022-03-21 20:10] hydegeoff commented on #106
this issues were resolved. Issue closed.

[2022-03-21 20:10] #106 closed, assigned to XiuJuanXia

[2022-03-21 20:47] davidgotlieb commented on #130
Bug has been fixed. Thanks for flagging.

[2022-03-22 12:52] hydegeoff commented on #104
The issue is fixed. Issue closed.

[2022-03-22 12:52] #104 closed, assigned to nobody

[2022-03-22 13:02] ndolter commented on #130
The issue with the wrapping paragraph has been fixed, however, the overlapping text in reflow is still an issue.

[2022-03-22 13:05] hydegeoff commented on #16
Issue can be closed

[2022-03-22 13:05] #16 closed, assigned to qanitah

[2022-03-22 14:18] echouin commented on #134
@ndolter this is part of older migrated content that was exported as flat HTML. We made a decision at the outset of the project to import 19,000 older records which would inevitably have issues. In order to fix all of them, each of the 19,000 records would need to be re-entered into the new system by individual(s) which is simply not feasible at this time.

[2022-03-22 17:43] mmiron-HC commented on #134
@echouin I understand what you are saying, however from our end, these are no resolved. We need these to stay open. We cannot close it until it is fixed.
A suggestion would be to create another label such as "legacy" or something meaningful to differentiate these types of issues from the rest. I will let you decide.

[2022-03-22 17:56] echouin commented on #134
Hi @mmiron-HC it will not be fixed for the 19,000 records. Yes, I concur with "Legacy". @davidgotlieb does that work for you?

[2022-03-22 18:00] davidgotlieb commented on #134
Sure, Legacy works

[2022-03-22 18:03] mmiron-HC commented on #134
@davidgotlieb @echouin tagged this one with legacy. Please tag the other ones that you feel fit this criteria.

[2022-03-22 18:10] echouin commented on #134
@mmiron-HC could the Milestone be "legacy: not fixed"? I typically sort that way when auditing.

[2022-03-22 18:12] echouin commented on #130
@ndolter can you please test with a Post-November 2021 recall to verify?

Otherwise, this will be tagged as "Legacy" item as per my convo w/ @mmiron-HC

[2022-03-22 18:15] echouin commented on #105
@ndolter from OP:
RSAMS isn't using the same error reporting as WET. The existing error report passes WCAG. ﻿﻿Could you please evaluate against WCAG AA, not WET?

[2022-03-22 18:18] echouin commented on #77
@mmiron-HC here's an easy one to close :)

[2022-03-22 18:19] davidgotlieb commented on #77
@echouin was happy you flagged this one, he found it irritating too. :)

[2022-03-22 18:21] mmiron-HC commented on #134
@echouin yes it can. I was too fast on the other one. Legacy w status of Not Fixed works.

[2022-03-22 18:41] ndolter commented on #130
@echouin I checked the below 2 pages in both languages and there was no issue with reflow:
- https://recalls-rappels.canada.ca/en/alert-recall/wondertoys-27-pcs-wooden-magnetic-alphabet-train-set-recalled-due-presence-superglue
- https://recalls-rappels.canada.ca/en/alert-recall/urban-kids-plush-all-over-print-robes-recalled-due-flammability-hazard

[2022-03-22 18:48] echouin commented on #130
@ndolter so is that another one closed?

[2022-03-22 18:52] ndolter commented on #130
@echouin Manon requested the following in https://github.com/mmiron-HC/WST-RSAMS/issues/134#issuecomment-1075463418: Can Milestone be "legacy: not fixed"? I typically sort that way when auditing.

[2022-03-23 11:27] mmiron-HC opened #135 "Subscribe: Using colour alone to identify which fields are in error"
URL: https://recalls-rappels.canada.ca/en/subscribe
User Agent: Chrome
Language: Both

Issue Description: Using colour alone to identify which fields are in error. Color alone cannot be used as the only visual means of conveying information or distinguishing a visual event. [Failure of Success Criterion 1.4.1 due to identifying required or error fields using color differences only](https://www.w3.

[2022-03-23 12:07] mmiron-HC opened #136 "Subscribe: after Errors are triggered, focus order isn't consistent"
URL: https://recalls-rappels.canada.ca/en/subscribe
User Agent: Chrome, Firefox, Edge, JAWS and NVDA
Language: both

Issue Description:
after Errors are triggered:
- NVDA/Chrome: Screen reader announces "Error Message alert" and focus is randomly placed on a checkbox. Sometimes the focus is moved back to the top of the page (skip links)
- JAWS/Chrome/EDGE/Firefox: Reads all error messages in list

[2022-03-23 12:09] mmiron-HC commented on #105
@echouin With public facing GoC sites, we need to ensure that we have the same common look and feel providing a consistent and trustworthy online experience. WET was established to help with this.  The current example (screenshot Natalie last provided) does not pass WCAG AA. There is no way for a colourblind user to quickly see which of the fields are in error - you need the inline error message.

[2022-03-23 14:49] hydegeoff commented on #129
Turning off CSS is something that users' do to get rid some of the fancy features on the page, because they could interfere with the assistive technologies.  It is better to put the word "required" in the field label so for those visual users who turn off CSS.  This also removing some aria to avoid screen reader repetition.

On another note:
Visual users need to know what the red star represents.

[2022-03-23 15:16] hydegeoff commented on #118
There are two error message when entering a blank comment, instead, I expect only one error, because there is only one comment field. see below...
![image](https://user-images.githubusercontent.com/88147013/159732884-32434786-eed1-4458-88ce-99ced49fc586.png)

[2022-03-23 15:43] hydegeoff commented on #127
confirmed issue is fixed.

[2022-03-23 15:43] #127 closed, assigned to ndolter

[2022-03-23 15:59] hydegeoff opened #137 "Error when trying to access the Help section"
URL: https://rsams.dev.cloud.openplus.ca/en/documentation/recalls-and-safety-alerts-help-guide
User Agent: Chrome 99
Language:  English

Issue Description: Error appears when trying to access the help section of the admin portal:
![Help section - error appears](https://user-images.githubusercontent.com/88147013/159742129-b1c2b504-d471-45e1-aa0b-0c017057b3c6.jpg)

Steps to reproduce:
1. Login
2.  S

[2022-03-23 16:01] hydegeoff commented on #83
Blocked by issue #137 ,  I believe this page exists within help section.

[2022-03-23 18:04] hydegeoff commented on #79
English is fine, but for the French page, you will need an lang="en" attribute around the English text.  This will ensure the English text will be pronounced correctly by the screen reader.   See screenshot:
![Assigned incorrect language](https://user-images.githubusercontent.com/88147013/159772481-68f09b68-c550-4cf1-bc8f-2ee39c8125bc.jpg)

[2022-03-23 19:40] hydegeoff commented on #78
The original was fixed, but it was not fixed across the entire site.  Another issues occurs here:
https://rsams.dev.cloud.openplus.ca/en/documentation/creating-authlink-en-and-fr
impacts EN and FR pages
Page location :
(Top Nav) [Username] > Help > (right nav) The Build: editing an alert/recall > Creating an Authlink in EN and FR

![Underlined text issue](https://user-images.githubusercontent.com/

[2022-03-23 20:01] echouin commented on #137
Hello @hydegeoff Can you please reference the latest Live version of the Help Guide: https://rsams.prod.cloud.openplus.ca/en/documentation/recalls-and-safety-alerts-help-guide

The one in the link is from the Dev.
Thank you,
Eric

[2022-03-23 20:03] echouin commented on #79
@hydegeoff Please reference the latest version of the Help Guide on the Prod website (LIVE) version:
https://rsams.prod.cloud.openplus.ca/en/documentation/section-3-affected-products-tabletext-input

[2022-03-23 20:05] hydegeoff commented on #83
The link is still broken: here is URL it is linking to:
https://rsams.dev.cloud.openplus.ca/admin/structure/taxonomy

I was able to find the page of where this issue exists: https://rsams.dev.cloud.openplus.ca/en/documentation/managing-taxonomy-vocabularies

Here is an updated screenshot:
![Taxonomy page - Broken Link](https://user-images.githubusercontent.com/88147013/159786210-1bd86700-1044-414c

[2022-03-23 20:06] echouin commented on #78
@hydegeoff please use the final Help guide "live" version of the website: https://rsams.prod.cloud.openplus.ca/en/documentation/creating-authlink

[2022-03-23 20:08] echouin commented on #83
@hydegeoff For this issue & all other HELP GUIDE issues, please use only the LIVE website version of the HELP GUIDE: https://rsams.prod.cloud.openplus.ca/en/documentation/managing-taxonomy-vocabularies

Thank you,

Eric

[2022-03-24 10:53] mmiron-HC commented on #137
@echouin this is a valid test. We are trying to access the help page from the admin content. We do not have access to the Admin side on prod.

[2022-03-24 10:55] mmiron-HC commented on #79
@echouin we do not have access to the admin side on PROD. The link you shared will not work.

[2022-03-24 10:57] mmiron-HC commented on #78
@echouin we do not have access to the link you provided. We can and should only test the admin side in DEV.

[2022-03-24 10:57] mmiron-HC commented on #83
@echouin as mentioned in other tickets, we do not have access to this link. We are testing in DEV.

[2022-03-24 12:21] echouin commented on #137
@mmiron-HC you do have access on prod. website. Please use your same login credentials.

[2022-03-24 12:22] echouin commented on #79
@mmiron-HC you do have access on prod. website. Please use your same login credentials. Please ensure that you login first: https://rsams.prod.cloud.openplus.ca/en/user/login

[2022-03-24 12:22] echouin commented on #78
@mmiron-HC you do have access on prod. website. Please use your same login credentials. Please ensure that you login first: https://rsams.prod.cloud.openplus.ca/en/user/login

[2022-03-24 12:22] echouin commented on #83
@mmiron-HC you do have access on prod. website. Please use your same login credentials. Please ensure that you login first: https://rsams.prod.cloud.openplus.ca/en/user/login

[2022-03-24 12:38] hydegeoff commented on #56
The initial issue is fixed, but I have found another instance where this issue occurs.  It should be addressed on all pages where this occurs.

Other instance occurs here:
https://rsams.dev.cloud.openplus.ca/en/documentation/user-roles

Page location :
(Top Nav) [Username] > Help > (right nav) User Roles

![Help-Abbreviations - long form should appear first](https://user-images.githubusercontent.c

[2022-03-24 12:50] echouin commented on #56
@hydegeoff fixed on the Live version: https://rsams.prod.cloud.openplus.ca/en/documentation/user-roles

[2022-03-24 13:28] echouin commented on #56
@hydegeoff for all Help Guide content abbreviations and acronyms have been fixed in EN and FR on the Live production website.

The Dev Help Guide is not up-to-date and does not receive regular updates.

[2022-03-24 13:43] hydegeoff commented on #96
The character counter does not appear for Report a Problem when the user is logged in.  See screenshot...
Browser Used: Chrome v99
![Home-ReportProbrlem- Missing character counter](https://user-images.githubusercontent.com/88147013/159929178-f6673c9a-fd3f-44ec-937a-68be4252c8a5.jpg)

[2022-03-24 13:46] davidgotlieb commented on #96
@hydegeoff Is this really an issue though? Why would someone logged into the system use the report a problem feature? This is a public facing feature, does it work when not logged in? Seems very edge use case to me?

[2022-03-24 14:01] echouin commented on #96
From OP: the character count does not appear when logged in. You get the count when not logged in.

[2022-03-24 14:05] hydegeoff commented on #96
I have changed the priority to minor

[2022-03-24 14:43] echouin commented on #56
@hydegeoff Fixed On Live website across multiple pages and instances in both EN and FR:

![image](https://user-images.githubusercontent.com/88099454/159941705-7931c7b9-7997-433f-86dc-c95fa3613a26.png)

![image](https://user-images.githubusercontent.com/88099454/159941845-86b89cbf-ff17-4968-b766-b147e3cab539.png)

[2022-03-24 14:45] echouin commented on #83
@mmiron-HC link fixed on live website (Left: existing page w/ link / right: destination page on Live website):
![image](https://user-images.githubusercontent.com/88099454/159942305-78afdbeb-0d1d-4817-87ee-8d5e4bd16ea7.png)

[2022-03-24 14:48] echouin commented on #78
Content was completely rewritten in EN and FR a few months ago to reflect the new instructions. This is no longer relevant.

![image](https://user-images.githubusercontent.com/88099454/159942826-1598843b-bac4-42b1-94ee-e33775e2f8e6.png)

![image](https://user-images.githubusercontent.com/88099454/159943022-498eb6fa-726f-4a1a-ad6d-f989ff1cb4cd.png)

[2022-03-24 14:55] echouin commented on #137
I'm not sure I understand this one. I would need some clarification?

[2022-03-24 14:56] mmiron-HC commented on #137
@echouin follow the steps to reproduce in issue description above.

[2022-03-24 15:54] hydegeoff commented on #137
You may need similar credentials to my user account.  This error appear immediately entering the Help section.  I think this error also causes issues with the icons as well.  Please take a look at my screenshot below:
![image](https://user-images.githubusercontent.com/88147013/159957312-0c638b4c-d812-4b8f-ad2c-ecb946612f20.png)

[2022-03-24 17:47] echouin commented on #137
Hi, I reset my credentials.

This issue does not exist on the LIVE Version of the website:
![image](https://user-images.githubusercontent.com/88099454/159978510-9466782b-8aa6-470e-a7b5-2bcdd84f08c2.png)

![image](https://user-images.githubusercontent.com/88099454/159978547-4f382755-d0e9-4a15-ad4c-a0179a88c868.png)

[2022-03-24 17:59] ndolter commented on #86
@davidgotlieb Can you please confirm that since the radio buttons can no longer be blank, that the text in the 3 screenshots above is no longer possible to view?  If so, I will close this ticket.  There are some new language of parts issues that I noticed on the French page, but I will address them in a new ticket.

[2022-03-24 18:59] hydegeoff commented on #26
Other pages needed to be verified as well, for example the dashboard fails HTML validator:

There are a few errors that we would like you to investigate:
![Dashboard-W3C HTML Validation failed](https://user-images.githubusercontent.com/88147013/159990562-4e50343a-433e-4be0-bb20-00f278b1799c.jpg)

[2022-03-24 19:07] davidgotlieb commented on #86
Hi @ndolter I don't see how you could possibly get that error anymore. As you point out  both radio buttons are pre selected so there's no way to have it blank.

All other content on the page is now in French so I think this is fully resolved.

[2022-03-24 19:30] hydegeoff commented on #76
Issue fixed

[2022-03-24 19:30] #76 closed, assigned to nobody

[2022-03-24 20:06] hydegeoff commented on #71
Not fixed, because the link's URL has the old site hard-coded into it, and it is probably causing Broken in PROD.  links should be using relative URLs instead of using the full URL.  See the attached screenshot:  The first two "user role" links probably have broken URLs:
![Old site URL is hard coded into the links](https://user-images.githubusercontent.com/88147013/160000723-f12fc86b-66f5-4324-9e2

[2022-03-25 11:29] XiuJuanXia commented on #83
Tested on prod https://rsams.prod.cloud.openplus.ca/en/documentation/managing-taxonomy-vocabularies, and the "[Taxonomy](https://rsams.prod.cloud.openplus.ca/admin/structure/taxonomy)" link opens a "Page not found".
![image](https://user-images.githubusercontent.com/88776404/160112909-38712c23-5955-4486-8cdf-f1ed4d4c320f.png)

[2022-03-25 12:03] ndolter commented on #86
Hi @davidgotlieb, thanks.  This is the language issue that I'm seeing on the page and will create a new ticket to address:
![image](https://user-images.githubusercontent.com/68117281/160117295-60c105cc-c53c-4fae-8084-c126a377fd47.png).

Closing this ticket as the issue has been resolved.

[2022-03-25 12:03] #86 closed, assigned to qanitah

[2022-03-25 12:42] hydegeoff commented on #72
Confirmed it is now in an order list, closed.

[2022-03-25 12:42] #72 closed, assigned to nobody

[2022-03-25 13:57] echouin commented on #71
@hydegeoff thanks for catching. All links fixed on PROD.

[2022-03-25 14:02] echouin commented on #83
@XiuJuanXia My bad. This is a security feature.

Access to the taxonomy page is limited to only BPA users. This is a security feature. These sections of the help guide are only applicable to BPA users who would have access to the hyperlinks w/o issues.

At this time we have only 8 BPAs who are allowed to access these types of menus.

The BPA sections of the Help Guide would not be relevant to all

[2022-03-25 17:47] hydegeoff commented on #69
This issue is fixed on the Dashboard, but when going to edit profile, the tooltips come back.  The tooltip should removed on all pages related to Top Navigation bar.  As shown in the screenshot below, the tooltip is not being displayed correctly and "Edit Tags" is always in English no what your language settings are.
![English tooltip appears on French page](https://user-images.githubusercontent.c

[2022-03-25 18:39] ndolter opened #138 "French Dashboard page requires text to be translated"
URL:  [https://rsams.dev.cloud.openplus.ca/en/user/login](https://can01.safelinks.protection.outlook.com/?url=https%3A%2F%2Frsams.dev.cloud.openplus.ca%2Fen%2Fuser%2Flogin&data=04%7C01%7Cmanon.miron%40hc-sc.gc.ca%7Cec45cdb9ab0f4dfa788d08da02d39342%7C42fd9015de4d4223a368baeacab48927%7C0%7C0%7C637825404970600019%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%

[2022-03-25 18:51] hydegeoff commented on #54
Issue fixed, closed.

[2022-03-25 18:51] #54 closed, assigned to qanitah

[2022-03-25 19:54] ndolter opened #139 "Build: Translations are required on the French page"
URL:  [https://rsams.dev.cloud.openplus.ca/en/user/login](https://can01.safelinks.protection.outlook.com/?url=https%3A%2F%2Frsams.dev.cloud.openplus.ca%2Fen%2Fuser%2Flogin&data=04%7C01%7Cmanon.miron%40hc-sc.gc.ca%7Cec45cdb9ab0f4dfa788d08da02d39342%7C42fd9015de4d4223a368baeacab48927%7C0%7C0%7C637825404970600019%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%

[2022-03-27 21:13] hydegeoff commented on #35
This issue was fixed in French and English

[2022-03-27 21:13] #35 closed, assigned to qanitah

[2022-03-27 21:21] hydegeoff commented on #13
The page titles are now unique, ticket can be closed

[2022-03-27 21:21] #13 closed

[2022-03-27 21:26] hydegeoff commented on #6
Ticket can be closed

[2022-03-27 21:26] #6 closed

[2022-03-27 21:42] hydegeoff commented on #21
Tooltips no longer exist, issue resolved.

[2022-03-27 21:42] #21 closed, assigned to nobody

[2022-03-28 13:26] hydegeoff commented on #17
Not fixed.  The  icon is still showing a poor colour contrast when the page is first loaded as shown below, but if you trigger or hover the icon, it goes dark.  Colours I have identified as  rgb(190, 190, 190) bkgd colour of rgb(245, 245, 245) which has a contrast of 1.7:1 when it should be greater than 3:1.  Note: the dark grey colour that appears after being activated has a contrast ratio greate

[2022-03-28 13:46] duprasf commented on #138
Not sure why this was assigned to me, I'm not working on this project. Please explain what you would like me to do if it wasn't a mistake.

[2022-03-28 13:47] mmiron-HC commented on #138
@duprasf this was done by accident.

[2022-03-28 14:10] XiuJuanXia commented on #74
Confirmed this issue is fixed.

[2022-03-28 14:10] #74 closed, assigned to XiuJuanXia

[2022-03-28 14:10] XiuJuanXia commented on #64
Confirmed this issue is fixed.

[2022-03-28 14:10] #64 closed, assigned to XiuJuanXia

[2022-03-28 14:16] XiuJuanXia commented on #59
Italics are used in the English page: https://rsams.dev.cloud.openplus.ca/en/documentation/user-roles
![image](https://user-images.githubusercontent.com/88776404/160417797-c51c79c4-5244-4673-8c6d-e3d0deb40abd.png)

[2022-03-28 14:46] hydegeoff commented on #25
Issue resolved in French and English

[2022-03-28 15:22] hydegeoff commented on #56
Closed based on screenshots of PROD provided above.

[2022-03-28 15:36] hydegeoff commented on #137
The issue seems to fixed in PROD strictly based on screenshots above.  This has not been been verified in PROD.

[2022-03-28 15:36] #137 closed, assigned to mmiron-HC, hydegeoff

[2022-03-28 15:51] hydegeoff commented on #78
The issue seems to fixed in PROD strictly based on screenshots above. This has not been been verified in PROD.

[2022-03-28 15:51] #78 closed, assigned to mmiron-HC

[2022-03-28 16:05] hydegeoff commented on #71
@echouin, can you please provide a screenshots with the updated URL, so I can close the issue.  (in FR and EN)

[2022-03-28 17:52] echouin commented on #59
@XiuJuanXia Thank you, this has been corrected for EN and FR on the LIVE Prod. version of the website:
![59 (2)](https://user-images.githubusercontent.com/88099454/160457604-d3ea4b58-cfa9-4de7-9d94-26e94abf4b5a.png)

[2022-03-28 19:06] XiuJuanXia commented on #59
It's fixed in production https://rsams.prod.cloud.openplus.ca/en/documentation/user-roles.
It's not fixed in dev: https://rsams.dev.cloud.openplus.ca/en/documentation/user-roles

[2022-03-28 19:27] echouin commented on #71
Hi @hydegeoff the URLs were updated to: https://rsams.prod.cloud.openplus.ca/en/documentation/user-roles

![image](https://user-images.githubusercontent.com/88099454/160472116-81a66adc-591d-426b-baf0-740d385c74c6.png)

[2022-03-28 19:37] echouin commented on #139
Hi @ndolter for the first two screenshots:
What is your Language Preference set to in your profile?
If you have it set to "no preference" you will view EN side w/ EN menus and when looking at FR pages, you will see FR menu items.

The Box on the right is telling you, while you are on the EN side, that you are missing brand values on the FR side of things. So, this appears to be working as intended

[2022-03-28 19:44] hydegeoff commented on #71
@echouin, May I please have a screenshot of the page and the associated source code so I can see URL has been changed.   (like the screenshot I took 4 days ago)

[2022-03-28 19:57] echouin commented on #71
@hydegeoff
![image](https://user-images.githubusercontent.com/88099454/160476787-7e849364-1153-4ebd-b466-22f1fbc2c265.png)

[2022-03-28 19:58] echouin commented on #69
@hydegeoff from OP:
![tooltip (2)](https://user-images.githubusercontent.com/88099454/160477324-179015b4-21f9-40b7-a525-600bf44531c6.png)

[2022-03-28 19:59] echouin commented on #69
![tooltip (2)](https://user-images.githubusercontent.com/88099454/160477267-c4ccbc33-5734-4865-928c-3ae51a5549f7.png)

[2022-03-29 12:59] mmiron-HC commented on #71
@echouin This isn't quite what we need. For each link, we need to see the code behind it, the <a> with the href. like this
![image](https://user-images.githubusercontent.com/65728700/160616465-bba54433-9bed-4f9e-9260-2c92bb03f5e7.png)

[2022-03-29 13:01] hydegeoff commented on #69
@echouin, It is can be reproduced in Dev, as shown on the Edit Tag page below:
![Edit Tags - Tooltips](https://user-images.githubusercontent.com/88147013/160616974-3adb2f68-fb2c-437a-8971-8db57a6dfa42.jpg)

[2022-03-29 13:16] echouin commented on #71
@mmiron-HC can you please tell me how to see this code?

I had googled and hit F12?

OR, please check the page found here on PROD: https://rsams.prod.cloud.openplus.ca/en/documentation/user-roles

[2022-03-29 13:16] davidgotlieb commented on #69
@echouin I'm seeing the same think as @hydegeoff in Prod as well

[2022-03-29 13:21] davidgotlieb commented on #71
@echouin Hey Eric, if you're in Chrome go to the three dots at the top right > More tools > Developer tools

[2022-03-29 13:37] echouin commented on #71
![image](https://user-images.githubusercontent.com/88099454/160624189-a3119dd1-164f-4419-92f2-c2eac0486248.png)

[2022-03-29 13:50] hydegeoff commented on #71
Based on the screenshot in PROD, this issue can be closed.

[2022-03-29 13:56] echouin commented on #69
@hydegeoff thank you for the added info, passed back to OP.

[2022-03-29 14:12] ndolter commented on #139
Hi @echouin.  My language preference is set to 'No preference'.

[2022-03-29 14:41] echouin commented on #139
@ndolter this is functioning as intended.

When viewing menus on the EN side (w/ either EN only or "no preference), you need to know that the item has an issue in FR "(FR)" side of the webpage.

When viewing the French webpage, it is confirming that the issue is in FR.

If I set my menu interface to FRENCH only, I would need this feature in order to be able to tell which side of the recall (EN or

[2022-03-29 15:05] ndolter commented on #139
@echouin Thanks for the explanation.  : )

[2022-03-29 15:12] ndolter commented on #77
Validated that the unlocked button graphic has been corrected in both French and English.

[2022-03-29 15:12] #77 closed, assigned to qanitah

[2022-03-29 15:40] ndolter commented on #5
The color contrast (black beside the hovered state of dark grey) is still failing with a contrast ratio of 2.2:1.
The requirement calls for a 3:1 contrast ratio against adjacent colors for 2 types of non-text content:
1. Active user interface components
     o Any visual boundary that indicates the active component's clickable area must have a contrast ratio of at least 3:1.
     o Any visual effe

[2022-03-29 15:52] hydegeoff commented on #5
Take a look at the screenshot.  The arrows in red are problematic, and we recommend using the colour that is being pointed to in green below.    This lighter grey rgb(109, 110, 113) meets all requirements, Note: the grey cannot be too light, because white letters of the username and light grey need to be 4.5:1 contrast ratio.
![Menu Colour Background does not meet the WCAG](https://user-images.git

[2022-03-29 17:37] ndolter commented on #43
Validated that the tooltip messages have been removed.

[2022-03-29 17:37] #43 closed, assigned to mmiron-HC

[2022-03-29 17:50] ndolter opened #140 "Status message on French page needs translated"
URL: https://rsams.dev.cloud.openplus.ca/fr/user/login
User Agent: Chrome v99
Language: French

Issue Description: The text needs to match to that of the language of the page. For any text that is not going to be translated a lang attribute (lang="en") will be required.

Steps to reproduce:
1. Log in to the French version of the app using the specified url above
2. From the ‘Réinitialiser votre mo

[2022-03-29 17:56] mmiron-HC commented on #29
@echouin  this is a WCAG issue. As you pointed out, people with cognitive difficulties would be affected. This falls within WCAG.  If you choose to not address it we can set the milestone to Won't fix.

[2022-03-29 18:08] hydegeoff commented on #47
This issue can be closed

[2022-03-29 18:09] #47 closed, assigned to qanitah

[2022-03-29 18:14] echouin commented on #29
@mmiron-HC I am the messenger on OP's responses (when I indicate: "from OP").
I had proposed the following solution to OP back in Feb. If implemented, would this solve the issue?

EN: Reset your password?
﻿FR: Réinitialiser votre mot de passe?

﻿Change Reset password page URLs to:

﻿EN: ﻿[https://rsams.prod.cloud.openplus.ca/en/user/reset-password](https://rsams.prod.cloud.openplus.ca/fr/user/pass

[2022-03-29 18:59] hydegeoff commented on #50
This is not fixed, There is extra unnecessary text in the error message as shown below.  Otherwise, If you want to keep the text, we recommend it is incorporated into the rest of the error message that is directly underneath form field.
![Unnecessary error text](https://user-images.githubusercontent.com/88147013/160686226-46602172-60c8-4399-b350-54c9c2d19b37.jpg)

[2022-03-29 19:02] hydegeoff commented on #50
Here are other error messages:
![Error shows unnecessary text](https://user-images.githubusercontent.com/88147013/160685714-c1155ea2-b069-4940-a6ed-1ef134309f9e.jpg)

[2022-03-29 19:29] hydegeoff commented on #29
Yes, that would work, (if you replace forgot you password with your text).  Otherwise, something like this:
Unrecognized Username or Password, Forgot your password? Try [resetting it](https://rsams.dev.cloud.openplus.ca/en/user/password) (link)

[2022-03-29 19:44] hydegeoff commented on #53
The original issue is a problem.  All drop-downs require labels.
To reproduce the issue:
1.  Login
2. From the dashboard, select the search tab.
3.  activate the wave plugin
4. Turn-off CSS will reproduce the exact screenshot above
Problem: two drop-down are missing labels

[2022-03-29 20:01] echouin commented on #53
@hydegeoff this was a Drupal Module issue. Issue was reported to the maintainer. No further work will be able to be done by OP to fix this issue.

[2022-03-29 20:04] echouin commented on #50
@hydegeoff just to check, what would need to be removed to satisfy this issue?

[2022-03-30 12:48] hydegeoff commented on #75
All these items are not identified as buttons when using NVDA.  In the screenshot, I have identified elements that should identified as buttons in FR/EN.

![Items are identified as links when they should be buttons](https://user-images.githubusercontent.com/88147013/160837829-ed5027cb-9304-4635-a60d-93f8ee4f2f95.jpg)

[2022-03-30 12:52] XiuJuanXia opened #141 "Home page: When content is reflowed, the "Search" and the place holder text are not fully visible"
URL: https://rsams.dev.cloud.openplus.ca/en
https://recalls-rappels.canada.ca/en
User Agent: Firefox (v98)
Language: Both

Issue Description: When the content is reflowed, the "Search" and place holder text are not fully visible and there is overlap. Same issue applies to the production site.
![image](https://user-images.githubusercontent.com/88776404/160838482-1dfae43e-0993-4a1c-a791-634e72d49e92

[2022-03-30 13:32] XiuJuanXia opened #142 "Build-AUDIENCE: checkbox label contains dash"
URL: https://rsams.dev.cloud.openplus.ca/en/node/64019/edit?display=section_1&destination=/en/node/64019/build
User Agent: Chrome (v99), Firefox (v98)
Language: Both

Issue Description: In the "AUDIENCE", there are a list of checkboxes. Some of the labels of the checkboxes starts with a dash.
![image](https://user-images.githubusercontent.com/88776404/160846479-616b8ec3-86e9-41be-bd6b-cb4f4d8f8b42

[2022-03-30 14:42] XiuJuanXia opened #143 "Build: Overlapped text in Section 3"
URL: https://rsams.dev.cloud.openplus.ca/en/node/64020/build
User Agent: Chrome (v99), Firefox (v98)
Language: Both

Issue Description: Text is overlapped in "Section 3 - Affected products (table/text input)".
![image](https://user-images.githubusercontent.com/88776404/160861872-a77f2747-f2a7-4888-8a2a-3c3132d8bffc.png)

Steps to reproduce:

1. Login as an admin: https://rsams.dev.cloud.openplus.c

[2022-03-30 14:48] echouin commented on #142
@XiuJuanXia this is working as intended. The - are sub-categories that we now have available to users.

[2022-03-30 15:00] mmiron-HC commented on #37
@echouin This is still a failure. We've moved this to Won't fix.

[2022-03-30 15:22] echouin commented on #37
@mmiron-HC I think it's outside of scope for OP to fix. May I suggest "Reported to Drupal module owner"?

[2022-03-30 15:29] XiuJuanXia commented on #142
@echouin If the dash are sub-categories, this becomes a WCAG issue. Because nobody knows this is sub-category - neither sighted users nor non-sighted users. I updated the labels.

[2022-03-30 15:31] XiuJuanXia opened #144 "Build: "Press ALT 0 for help" only available for screen reader users"
URL: https://rsams.dev.cloud.openplus.ca/en/node/64020/build
User Agent: Chrome (v99), Firefox (v98), JAWS 2020, NVDA 2021.1
Language: Both

Issue Description: When tabbing to "Rich Text Editor, Comment field", an invisible instruction text "Press ALT 0 for help" is only available for screen reader users. Keyboard users are not aware of the shortcut and not able to open up the "Accessibility Instr

[2022-03-30 17:08] mmiron-HC commented on #37
if it is a Drupal Limitation than add the label. Milestone can stay as a Won't fix

[2022-03-30 18:45] XiuJuanXia opened #145 "Edge: Not able to login as an admin in Edge"
URL: https://rsams.dev.cloud.openplus.ca/en/user/login
User Agent: Edge (v99), Chrome (v99), Firefox(v98)
Language: Both

Issue Description: When trying to login as an admin in Edge, get "This page isn't working right now". Sometimes able to enter username and password and then get the same error page. Able to login as an admin in Chrome and Firefox.
![image](https://user-images.githubusercontent.

[2022-03-30 19:34] echouin commented on #145
Issue does not exist in Prod. Closing.

See screenshot - signed in w/o issue.

![Edge (2)](https://user-images.githubusercontent.com/88099454/160916342-f1cdbe0b-9caf-41b6-9c5b-fc3fc9679764.png)

[2022-03-30 19:50] hydegeoff commented on #58
Note: Here are some screenshots of the issues of the English and French help pages:
English:
1.  There is typo in visual URL, even though actual url is correct. missing ". . . /en . . ."
2.  There is space missing between "to" and "/user"
- It is better to put "Go to login page", otherwise instruct the user to append the "/user" onto end of the home page URL.
Since the Help section is for logged-i

[2022-03-30 20:02] echouin commented on #145
@XiuJuanXia just a quick note that I will check w/ OP about why Edge isn't working with Dev just to close the loop.

[2022-03-30 20:11] ndolter commented on #31
Re-tested with the iPhone 11 (ios 15.4) and the following issues still exist:
1. The focus is not on the GOC logo
2. Hidden content on top of the page continues to receive focus (e.g. H2 'You are here' near the breadcrumb, Primary tabs H2 where there is focus on both the Dashboard and Edit options together under Dashboard)
3. Items in the table continue to be announced by the screen reader but are

[2022-03-30 20:13] echouin commented on #58
@hydegeoff thanks. Pages in EN and FR have been updated:
![image](https://user-images.githubusercontent.com/88099454/160922409-ff3015c7-c47e-4f2c-82b1-652a38f00a94.png)

FR:
![image](https://user-images.githubusercontent.com/88099454/160922696-352228b2-f422-41f8-b13b-445afa238a85.png)

[2022-03-31 12:33] hydegeoff commented on #58
@echouin, I tried to see if could get the reset password e-mails in dev, but I get the following error immediately after entering my username or e-mail (FR / EN) into the reset password page.  Can you confirm the instructions were updated in e-mails, please  forward e-mails to so I can verify.

[2022-03-31 12:43] echouin commented on #58
@hydegeoff Hi, I don't think it works in Dev as the email function probably wouldn't work. However, on prod it is working. Please feel free to test on Prod.

[2022-03-31 13:46] hydegeoff commented on #58
@echouin. A minor typo in the English page, It says "go to login page" when it should say: Go to **the** login page"

After speaking with Manon, we are not responsible for e-mail content, so we do not need to test.

[2022-03-31 13:54] hydegeoff commented on #53
@echouin, @mmiron-HC  As per your comments above, I have set this issue to won't fix

[2022-03-31 14:09] ndolter commented on #34
Re-tested with an iPhone 11 (ios 15.4) and the screen reader does not provide any instructions to the user on how they can dismiss the menu once it is selected.  If the user does not know to click the user account again, then the menu persists to cover the page content even after a selection is made from the drop-down (e.g. Edit tags or Edit profile).  Please see screenshot.
![image](https://user-

[2022-03-31 14:21] echouin commented on #58
Thanks @hydegeoff fixed!

[2022-03-31 15:02] hydegeoff commented on #58
I have verified the changes when Eric shared his screen on the video call a moment ago, issue can be closed.
Note: I have not tested the e-mail content.

[2022-03-31 15:05] ndolter commented on #68
Re-tested using an iPhone 11 (ios 15.4) and iPhone 12 in both portrait and landscape mode and the issue is now resolved.

[2022-03-31 15:05] #68 closed, assigned to nobody

[2022-03-31 15:29] ndolter commented on #36
Re-tested in both French and English in Chrome v99, and upon creating a new recall, the focus is still going to the top of the page.  For the test involving the Apply button it passes now as the focus is no longer going to the next Apply button.

[2022-03-31 15:59] hydegeoff opened #146 "Help - some icons are not displaying properly"
URL: https://rsams.dev.cloud.openplus.ca/en/documentation/getting-started
User Agent: Chrome
Language:  EN/FR pages

Issue Description:
The icon shown in the screenshot below are not appearing correctly.  I have seen a similar issue on other help pages.

Steps to reproduce:

1. Login
2. Go to help section
3. Problem: on that introductory page is where the issue occurs
![Icons are not displaying pr

[2022-03-31 16:44] hydegeoff commented on #42
The issue still exists.

I am using Chrome and NVDA ver. 2021.2

Steps to reproduce
1. Login into https://rsams.dev.cloud.openplus.ca/en/user/
2. Go to the edit profile tab
3. Turn on NVDA
4. Make a small change for instance change the your language
5. Select the Save button
6. Once the page loads again, stop moving the cursor/mouse, listen and wait until the screen reader stops talking.  It shoul

[2022-03-31 17:52] ndolter commented on #52
Re-tested in Chrome (v99) and NVDA and performed the following test from the Edit Profile page:
1. Entered a valid password in both the Username and Confirm Password fields, but made them to not match
2. Clicked Save
Issue:
1. There is still a hidden heading h2 "Error message"
2. The same error is being reported.  The screen reader is not announcing 'The specified passwords do not match' (currentl

[2022-03-31 18:30] ndolter commented on #46
Re-tested in Chrome using a Samsung Galaxy J3 Prime ver 7 and performed the following test:
1. From the log in screen highlighted the heading 'Log in' and swiped up and to the right
2. Select 'Read from next item' under the TalkBack menu and allow it to read through the content on the page
- The 'Log in' tab is read twice
- An extra focus appears between the 'Log In' and 'Reset your password' tab.

[2022-03-31 19:17] ndolter commented on #70
@echouin Since I don't have access to the Help page in DEV, could I please request that you send me the page title element in both French and English from Prod?  This can be found in the html code by searching on <title>.
For example:
![image](https://user-images.githubusercontent.com/68117281/161132481-7db7a223-2762-4dab-a8a9-730875eb90b6.png)

[2022-03-31 19:26] echouin commented on #146
@hydegeoff that's on the Dev, so no need to fix.

[2022-03-31 19:32] echouin commented on #70
@ndolter could we do an MS Teams call so that you can show me what you need?
OR I can add you to Prod?

[2022-03-31 19:34] ndolter commented on #70
@echouin Sure, if you're available to call me now in Teams that would work.  I'll be signing out for the day at 4:00pm. In case we don't get to chat today, please feel free to reach out tomorrow morning.

[2022-03-31 19:54] echouin commented on #70
<title>Recalls and Safety Alerts Help Guide - Canada.ca</title>

FR: <title>Page non trouvée – Rappels, avis et avis de sécurité – Canada.ca</title>

[2022-03-31 19:54] hydegeoff commented on #45
I believe issue can be closed.  There no more pop-up error messages appearing and the screen reader announces the errors when navigating to the fields

[2022-03-31 19:54] #45 closed, assigned to qanitah

[2022-03-31 20:01] ndolter commented on #70
Thanks @echouin.

For the French Help guide title element it should be translated to match the English page 'Recalls and Safety Alerts Help Guide - Canada.ca.

The following are the observations for the Dashboard page and the tabs within them.
![image](https://user-images.githubusercontent.com/68117281/161139539-5123edaa-7d3a-4d37-a50b-236e4644a287.png)

[2022-04-01 12:03] XiuJuanXia opened #147 "All pages: Sub-menu navigation overlaps content when content is reflowed"
URL: https://rsams.dev.cloud.openplus.ca/en
User Agent: Chrome (v99), Firefox (v98)
Language: Both

Issue Description: When the content is reflowed, the sub-menu navigation overlaps content.
![image](https://user-images.githubusercontent.com/88776404/161259476-104a65a1-97c6-4d85-b4b7-1e2460689e02.png)

Steps to reproduce:

1. Navigate to the url above. Or Page name for the test is: 'Recalls and Sa

[2022-04-01 12:05] hydegeoff commented on #146
Since this issue only exists in DEV this issue will be closed

[2022-04-01 12:17] hydegeoff commented on #146
Actually I need to see a screenshot of production before I am allowed to close the issue.

[2022-04-01 13:53] hydegeoff opened #148 "Edit Profile - Current Password field is too far away from the error message"
URL: https://rsams.dev.cloud.openplus.ca/en/user/206/edit
User Agent:  Chrome
Language: EN and FR pages

Issue Description:  The error message is that says "Your current password is missing or incorrect.  It is required to change your password" is too far away from Current Password field, as shown in the screenshot below.  The location of the fields is very useful to improve understanding.   Also

[2022-04-01 14:41] mmiron-HC commented on #145
@echouin We require EDGE to work in DEV in order to validate some of the WCAG success criteria. This is considered a blocker from our end.

[2022-04-01 15:01] hydegeoff commented on #137
This issue has been fixed in DEV

[2022-04-01 15:19] echouin commented on #70
@ndolter I'm not quite sure I understand what is needed? Can you please let me know how I would correct this?

[2022-04-01 15:27] echouin commented on #146
@hydegeoff
FR:
![image](https://user-images.githubusercontent.com/88099454/161294403-216b5d7b-5cc8-4232-aaf7-653743596e0b.png)
EN:
![image](https://user-images.githubusercontent.com/88099454/161294449-b1044041-7b16-4bf8-a09d-1003bb8596ca.png)

[2022-04-01 15:29] ndolter commented on #70
@echouin Similar to the exercise we did yesterday when you shared your screen with me, you would have to do the following:
1. Access the html code (right click on the page and select Inspect)
2. Search on <title> via Ctl-F and make the updates
This will control what gets displayed and announced by the screen reader in the upper page tab
![image](https://user-images.githubusercontent.com/68117281/1

[2022-04-01 15:45] hydegeoff commented on #25
This issue was accidentally closed.  This issue has been retested on Samsung S10e with Google talkback on and it still exists, there is another related with a video, if I can find the video add it to this ticket.

[2022-04-01 19:22] davidgotlieb commented on #142
@XiuJuanXia Can I better understand why this is considered Critical failure? This seems like a pretty minor issue to me?

[2022-04-01 20:32] davidgotlieb commented on #53
For consistency this should be tagged as "reported" along with all the other ones where we have reported it to be fixed by Drupal or the owner of the feature.

[2022-04-04 12:21] XiuJuanXia commented on #142
@davidgotlieb It is critical as this isn't not being conveyed to anyone. If you feel this is a lower risk you can explain it when it goes to the CIO.

[2022-04-04 12:37] echouin commented on #17
@hydegeoff from OP: ﻿I still can't duplicate this.
﻿In a nutshell,
﻿this icon is 16px X 16px
﻿the foreground icon color is #787878
﻿the background color is #f5f5 ﻿f5

﻿if you check the contrast here ﻿https://webaim.org/resources/contrastchecker/﻿ you will see that this passes wcag 2.1 AA for Graphic elements.
﻿
﻿This icon comes from Drupal core, while a higher contrast ration would be nice, I can'

[2022-04-04 12:46] hydegeoff opened #149 "Dashboard - tabs have Broken Aria Menu tags"
URL: https://rsams.dev.cloud.openplus.ca/en/user/
User Agent:  Chrome v99 + WAVE plug-in v3.16
Language: EN and FR pages

Issue Description:
This broken aria-menu tags are enable users to use the arrows to navigate the tabs at the top of dashboard. See the error the screenshot.
![Dashboard - Broken Aria Menu](https://user-images.githubusercontent.com/88147013/161546607-46fe1fda-a67c-43c0-91fb-ee88

[2022-04-04 13:08] mmiron-HC commented on #17
@echouin when the icon is at default (no hover) it shows the following SVG - https://rsams.dev.cloud.openplus.ca/core/misc/icons/bebebe/push-left.svg
the SVG fill colour is bebebe which fails against the background
![image](https://user-images.githubusercontent.com/65728700/161550071-27d616f7-7e2d-4689-ba09-c62b1b894466.png)

The fill787878 is when the button is hovered.

[2022-04-04 14:37] XiuJuanXia opened #150 "Admin: Keyboard focus is not visible for the bypass blocks"
URL: https://rsams.dev.cloud.openplus.ca/en/user/197
User Agent: Chrome (v100), Firefox (v98)
Language: Both

Issue Description: When tabbing through, above the "Home", there are three bypass blocks links (Skip to main content, Skip to "About government" and Switch to basic HTML version). Keyboard focus indicator is not visible for these three bypass blocks links.
`<nav aria-label="Skip links">

[2022-04-04 19:50] hydegeoff opened #151 "Edit Tags – Page Title for each tab are not unique"
URL: https://rsams.dev.cloud.openplus.ca/en/user/
User Agent: Chrome
Language: EN and FR

Issue Description:
When switching tab 4 of 7 on the Edit Tags page have “Content | RSAMS” as its page title, the page title should be more specific.  Something like Content – [tab label] | RSAMS would be more accurate.  The H1 should be updated respectively as well.  This helps users with screen readers, but

[2022-04-05 13:37] davidgotlieb commented on #142
@XiuJuanXia @mmiron-HC But what's the impact of it? Shouldn't the severity be tied to how it would impact accessibility etc.? Isn't that the whole point of marking them with severity tags, so we can focus on the ones that will be a barrier to people using the site properly?

From a user perspective, they will check off the audiences that apply to the recall when doing data entry. Having a dash or

[2022-04-05 14:23] echouin commented on #140
@ndolter this is fixed on prod:
![image](https://user-images.githubusercontent.com/88099454/161775861-5460c40b-5886-4eb9-a892-f14d6463edc4.png)

[2022-04-05 14:38] hydegeoff commented on #140
The issue has been fixed in PROD based on the screenshots above, but cannot be verified in DEV

[2022-04-05 15:04] hydegeoff opened #152 "Build - Broken Aria-Reference will not be announced by screen readers"
URL: https://rsams.dev.cloud.openplus.ca/en/user/
User Agent: Chrome v99 + WAVE plug-in v3.16
Language: EN and FR pages

Issue Description:
An aria-labelledby or aria-describedby reference exists, but the target for the reference does not exist.  This means broken aria reference attributes means that screen readers will not announce it when it is expected.
![Dashboard - Broken Aria reference](http

[2022-04-05 17:15] hydegeoff opened #153 "All pages – Footer – links at bottom of page have an active and invalid tooltips"
URL: https://rsams.dev.cloud.openplus.ca/en/user/  and
https://recalls-rappels.canada.ca/en
User Agent: Chrome v99
Language: EN and FR

Issue Description:
In the About government section, there are invalid tooltip on all 9 links and 5 links at the very bottom.  Each tooltip has its link name and adds on “section.” These are not correctly identified, as they are not sections.  Authors should try to

[2022-04-05 18:57] hydegeoff opened #154 "Share this page modal window has a lot repetition due to unnecessary tooltips"
URL: https://rsams.dev.cloud.openplus.ca/en and
https://recalls-rappels.canada.ca/en
User Agent: Chrome v99
Language: EN and FR

Issue description:
The tooltips on the modal window for “Share this page” has a great deal of repetition on close buttons.  The close “X” in the top right corner causes screen readers to repeat twice, and the close button at the bottom repeats three times.  This unnecess

[2022-04-05 19:28] echouin commented on #141
@XiuJuanXia From OP: we hide the text on mobile so you get only the magnifying glass.
﻿
﻿code would look like this
﻿
﻿﻿<button class="btn btn-default button js-form-submit form-submit icon-before" data-drupal-selector="edit-submit" type="submit" id="edit-submit" name="op" value="Recherche">
<span class="icon glyphicon glyphicon-search" aria-hidden="true"></span>

<span class="sr-only">Recherche</s

[2022-04-05 19:32] echouin commented on #153
@hydegeoff I think that this is directly taken from Canada.ca, is this issue only on the RSA pages or across all Health Canada web pages? If it is the latter, it should be reported to the Digital Comms team for a fix.

[2022-04-05 20:24] hydegeoff commented on #153
@echouin,

This does not exists on health Canada web pages, for example: https://www.canada.ca/en/services/health.html  I believe tooltip activation is through Drupal platform and it should be disabled.

[2022-04-06 11:29] XiuJuanXia commented on #141
@echouin Can this be verified in dev or prod? I don't see the change in dev or prod.
This is what we see in PROD in iphone X:
![image](https://user-images.githubusercontent.com/88776404/161973322-e9e5a03e-e168-4681-a8a8-ec414be6cd5c.png)
![image](https://user-images.githubusercontent.com/88776404/161973341-56be2e97-cd64-4742-b992-fd57b64a3f0b.png)

[2022-04-06 15:34] XiuJuanXia opened #155 "Admin: Screen readers read/repeat HTML code when focus is placed on the Rich Text Editor"
URL: https://rsams.dev.cloud.openplus.ca/en/node/64020/edit?display=section_1&destination=/en/node/64020/build
User Agent: Chrome (v100), JAWS2020, Firefox (v98), NVDA 2021.1
Language: Both

Issue Description: Screen readers read/repeat HTML code when focus is placed on the Rich Text Editor. This happens on all Rich Text Editors.
For example, when focus is placed on the "What to do" Rich Text Edit

[2022-04-06 19:27] sarasuri opened #156 "Recalls: Keyboard focus indicator is not visible for the "Brand" content"
URL: https://rsams.dev.cloud.openplus.ca/en/alert-recall/transport-canada-recall-2022036-jayco and
User Agent: Firefox (v99), Chrome (v100), MS Edge
Language: English and French

Issue Description: When tabbing through, the keyboard focus indicator is not visible for the "Brand(s)" collapsed/expand content.

![image](https://user-images.githubusercontent.com/12256067/162053010-d9101a68-ed6f-45fe-8

[2022-04-06 20:22] hydegeoff opened #157 "Page title should have consistent ending with either "- Canada.ca" or "| RSAMS""
URL: https://rsams.dev.cloud.openplus.ca/en/user/
User Agent: Chrome v99
Language: Impacts EN and FR pages

Issue Description:  Consistency will help reduce user confusion and improve User experience with the screen reader.  All pages should  have a ending with either "- Canada.ca" or "| RSAMS".  All public facing should have an ending of  "- Canada.ca" and all Admin pages should be ending with "|

[2022-04-06 20:36] sarasuri opened #158 "Search: Checkbox is not consistently identified in the note"
Page: Search
URL: https://rsams.dev.cloud.openplus.ca/en/search/site
User Agent: Firefox (v99)
Language: English and French

Issue Description: In the note below, checkbox is not consistently identified. The reference to the checkbox in the not the same as the its label text.

![image](https://user-images.githubusercontent.com/12256067/162065765-5a3563f3-70fc-41c7-aa85-7044e1a9016b.png)

Steps to

[2022-04-07 14:21] XiuJuanXia opened #159 "French character Â and square exist near the temperature sign"
URL: https://rsams.dev.cloud.openplus.ca/en/alert-recall/pfizer-biontech-covid-19-vaccine-updated-storage-and-transportation-conditions
https://recalls-rappels.canada.ca/en/alert-recall/pfizer-biontech-covid-19-vaccine-updated-storage-and-transportation-conditions
User Agent: Chrome (v100), Firefox (v99)
Language: Both

Issue Description: French character Â and square exist near the temperature si

[2022-04-07 15:05] echouin commented on #141
@XiuJuanXia OP was asking us to check w/ you if that would solve the issue. Once I have your confirmation, they will initiate.

Will the above-noted solution solve the issue?

[2022-04-07 15:37] XiuJuanXia commented on #141
@echouin, the placeholder text (Rechercher des alertes et des rappels) should be fully visible in a mobile view.

[2022-04-07 15:56] sarasuri opened #160 "Search: Note about the search filters is not placed logically"
Page: Search
URL: https://rsams.dev.cloud.openplus.ca/en/search/site
User Agent: Firefox (v99)
Language: English and French

Issue Description: The note about the search filters is not placed in a logical order. It could be missed by users with visual impairments as it is placed after the "Search" feature.

![image](https://user-images.githubusercontent.com/12256067/162241866-b9c7eef7-14b9-43b0-8c

[2022-04-07 17:25] sarasuri opened #161 "Recherche: The "title" attribute value is in English on the French page"
**Page:** Recherche
**URL:** https://rsams.dev.cloud.openplus.ca/fr/recherche/site?search_api_fulltext=test&f%5B0%5D=public%3A215
**User Agent:** Firefox (v99)
**Language:** French

**Issue Description:** The "title" attribute value is in English for the "Effacer tous les filtres" button.

![image](https://user-images.githubusercontent.com/12256067/162261290-4ea47ae2-582d-4e85-9eed-794b5534129c.pn

[2022-04-07 17:42] sarasuri opened #162 "Recherche: The label for one of the filters is in English on the French page"
**Page:** Recherche
**URL:** https://rsams.dev.cloud.openplus.ca/fr/recherche/site and https://recalls-rappels.canada.ca/fr/recherche/site
**User Agent:** Firefox (v99)
**Language:** French

**Issue Description:** Under "Classe de rappel", label for one of the filters is in English on the French page.

![image](https://user-images.githubusercontent.com/12256067/162264003-7cf1b943-290f-4a74-8613-d8

[2022-04-07 17:55] davidgotlieb commented on #162
This has been fixed in production as it was a content issue. It may take up to an hour to be visible as the cache needs to clear.

[2022-04-07 18:23] davidgotlieb commented on #145
I am able to access via Edge. Is this still a problem @hydegeoff @XiuJuanXia ?

I'm wondering if its a problem with the security pop up that's in place to stop the dev from being crawled. I know sometimes it can be finicky with IE for example.

[2022-04-07 18:23] sarasuri opened #163 "Recalls and alerts: Information about the type of recall or alert is not provided logically"
**Page**: All recalls and alerts
**URL**: e.g. https://rsams.dev.cloud.openplus.ca/en/alert-recall/transport-canada-recall-2022017-nissan
**User Agent**: Firefox (v99)
**language**: English and French

**Issue Description**: The text provided above the "h1" about what type of recall or alert could be missed by screen reader users if they jump to the main content of the page by activating the "Skip

[2022-04-07 18:29] XiuJuanXia commented on #145
@davidgotlieb It's still happening to me with or without VPN connected. I was able to see the login page, will get the error page after entering the credentials.

[2022-04-07 18:37] echouin commented on #108
@hydegeoff, reported to Drupal. From OP: Reported back to the Slick module maintainers.
﻿
﻿May be tracked here: ﻿https://www.drupal.org/project/slick/issues/3273815

[2022-04-07 18:38] echouin commented on #17
From OP: Reported to Drupal core toolbar, with a proposed solution here.
﻿https://www.drupal.org/project/drupal/issues/3273806

[2022-04-07 18:39] echouin commented on #5
@hydegeoff from OP:  have reported a new Drupal core issue here:
﻿﻿https://www.drupal.org/project/drupal/issues/3273789
﻿
﻿There is already a couple very active and very closely related threads here that may be followed as well.
﻿
﻿﻿https://www.drupal.org/project/drupal/issues/3097907
﻿﻿https://www.drupal.org/project/drupal/issues/3270230

[2022-04-07 18:51] davidgotlieb commented on #105
@mmiron-HC We are using the default WxT error handling. From OP:

WxT is not 100% WET compliant. Currently, error message handling in WxT is not done the same as it WET. It hasn't been implemented yet.  It will be a major undertaking to get the WET error message handling into WxT, when it does get there, it will be pulled into RSAMS as part of the regular WXT update.

[2022-04-07 18:52] davidgotlieb commented on #135
See response in #105:

We are using the default WxT error handling. From OP:

WxT is not 100% WET compliant. Currently, error message handling in WxT is not done the same as it WET. It hasn't been implemented yet. It will be a major undertaking to get the WET error message handling into WxT, when it does get there, it will be pulled into RSAMS as part of the regular WXT update.